@page "/{tenantName}/usage"
@inherits PageBase

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active">Usage</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@usageTenantsHref">Usage tenants</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@usageSettingsHref">Usage settings</a>
    </li>
</ul>

<div class="tab-content">
    <div class="d-flex pt-2">
        <div class="info-text mr-auto">
            Add usage for a tenant in a month and register time spend and other tasks.
        </div>
        <div class="py-2">
            <button type="button" class="btn btn-primary" @onclick="@(() => ShowCreateUsage())">
                <span class="oi oi-plus" aria-hidden="true"></span> Create Usage
            </button>
        </div>
    </div>

    <PageEditForm @ref="searchUsageForm" TModel="FilterUsageViewModel" OnAfterInit="OnUsageFilterAfterInit" OnValidSubmit="OnUsageFilterValidSubmitAsync">
        <div class="row">
            <div class="col-1">
                <div class="form-group active-group">
                    <button type="button" class="btn btn-outline-secondary" onclick="@(() => OnUsageStepAsync(false))"><i class="bi bi-caret-left-fill"></i></button>
                </div>
            </div>
            <div class="col-5">
                <FInputNumber @bind-Value="searchUsageForm.Model.PeriodYear" For="@(() => searchUsageForm.Model.PeriodYear)" />
            </div>
            <div class="col-5">
                <FInputNumber @bind-Value="searchUsageForm.Model.PeriodMonth" For="@(() => searchUsageForm.Model.PeriodMonth)" />
            </div>
            <div class="col-1">
                <div class="form-group active-group">
                    <button type="button" class="btn btn-outline-secondary" onclick="@(() => OnUsageStepAsync(true))"><i class="bi bi-caret-right-fill"></i></button>
                </div>
            </div>
        </div>
        <FInputTextFilter @bind-Value="searchUsageForm.Model.FilterTenantValue" For="@(() => searchUsageForm.Model.FilterTenantValue)" />
    </PageEditForm>


    <ul class="list-group">
        @foreach (var used in usedList)
        {
            <li class="list-group-item @(used.Edit ? "active" : "d-flex justify-content-between align-items-center")">
                @if (!used.Error.IsNullOrWhiteSpace())
                {
                    <div class="alert alert-danger" role="alert">
                        @used.Error
                    </div>
                }
                @if (used.Edit)
                {
                    <PageEditForm @ref="used.Form" TModel="UsedViewModel" OnAfterInit="@(async m => await UsedViewModelAfterInitAsync(used, m))" OnValidSubmit="@(async (editContext) => await OnEditUsedValidSubmitAsync(used, editContext))">
                        <div class="modal-header">
                            Used
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-6">
                                    <div class="active-group active">
                                        <div class="card bg-light">
                                            <div class="card-body">
                                                @used.Form.Model.PeriodBeginDate.ToString()
                                            </div>
                                        </div>
                                        <label class="label-control">Period from</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="active-group active">
                                        <div class="card bg-light">
                                            <div class="card-body">
                                                @used.Form.Model.PeriodEndDate.ToString()
                                            </div>
                                        </div>
                                        <label class="label-control">Period to</label>
                                    </div>
                                </div>
                            </div>
                            @if (used.CreateMode)
                            {
                                <FInputText @bind-Value="used.Form.Model.TenantName" For="@(() => used.Form.Model.TenantName)" Focus="true" />
                            }
                            else
                            {
                                <FFieldText @bind-Value="used.Form.Model.TenantName" For="@(() => used.Form.Model.TenantName)" />
                            }

                            <FFieldText @bind-Value="used.Form.Model.Currency" For="@(() => used.Form.Model.Currency)" />

                            @if (used.Form.Model.Tracks > 0)
                            {
                                <div class="pt-2">
                                    <div class="active-group active">
                                        <div class="card">
                                            <div class="card-body mt-2">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <FFieldNumberD @bind-Value="used.Form.Model.Tracks" For="@(() => used.Form.Model.Tracks)" />
                                                    </div>
                                                    <div class="col-6">
                                                        <FFieldNumberD @bind-Value="used.Form.Model.Users" For="@(() => used.Form.Model.Users)" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <FFieldNumberD @bind-Value="used.Form.Model.Logins" For="@(() => used.Form.Model.Logins)" />
                                                    </div>
                                                    <div class="col-6">
                                                        <FFieldNumberD @bind-Value="used.Form.Model.TokenRequests" For="@(() => used.Form.Model.TokenRequests)" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <FFieldNumberD @bind-Value="used.Form.Model.ControlApiGets" For="@(() => used.Form.Model.ControlApiGets)" />
                                                    </div>
                                                    <div class="col-6">
                                                        <FFieldNumberD @bind-Value="used.Form.Model.ControlApiUpdates" For="@(() => used.Form.Model.ControlApiUpdates)" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <label class="label-control">Used</label>
                                    </div>
                                </div>
                            }

                            <div class="active-group active pt-0">
                                <div class="info-text mr-auto">
                                    Add items and register time spend.
                                </div>
                                <ul class="list-group">
                                    @foreach (var item in used.Form.Model.Items)
                                    {
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-11">
                                                    @if (item.Type == UsedItemTypes.Hours)
                                                    {
                                                        <div class="row">
                                                            <div class="col-2">
                                                                <FInputNumberN @bind-Value="item.Day" For="@(() => item.Day)" />
                                                            </div>
                                                            <div class="col-6">
                                                                <FInputText @bind-Value="item.Text" For="@(() => item.Text)" />
                                                            </div>
                                                            <div class="col-2">
                                                                <FInputNumberD @bind-Value="item.Quantity" For="@(() => item.Quantity)" LabelText="Hours" />
                                                            </div>
                                                            <div class="col-2">
                                                                <FInputNumberD @bind-Value="item.UnitPrice" For="@(() => item.UnitPrice)" LabelText="Hour price" />
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="row">
                                                            <div class="col-8">
                                                                <FInputText @bind-Value="item.Text" For="@(() => item.Text)" />
                                                            </div>
                                                            <div class="col-2">
                                                                <FInputNumberD @bind-Value="item.Quantity" For="@(() => item.Quantity)" />
                                                            </div>
                                                            <div class="col-2">
                                                                <FInputNumberD @bind-Value="item.UnitPrice" For="@(() => item.UnitPrice)" />
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="col-1 text-right">
                                                    <button type="button" class="btn btn-link px-0" title="Remove" @onclick="@(e => RemoveItem(e, used.Form.Model.Items, item))"><span class="oi oi-circle-x" aria-hidden="true"></span></button>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                                <ValidationMessage For="@(() => used.Form.Model.Items)" />
                                <button type="button" class="btn btn-link btn-xs" @onclick="@(e => AddItem(e, used, used.Form.Model.Items, UsedItemTypes.Text))"><span class="oi oi-plus" aria-hidden="true"></span> Add Text item</button>
                                <button type="button" class="btn btn-link btn-xs" @onclick="@(e => AddItem(e, used, used.Form.Model.Items, UsedItemTypes.Hours))"><span class="oi oi-plus" aria-hidden="true"></span> Add Hours</button>
                            </div>
                        </div>
                        @if (!used.CreateMode && !used.IsUsageCalculated && used.DeleteAcknowledge)
                        {
                            <div class="modal-footer">
                                <div class="alert alert-danger" role="alert">
                                    <div>
                                        You are about to delete the used item "@used.Name". Are you sure?
                                    </div>

                                    <div class="mt-3">
                                        <button type="button" class="btn btn-secondary" @onclick="@(async () => await DeleteUsedAsync(used))">Yes delete used item</button>
                                        <button type="button" class="btn btn-secondary" @onclick="@(() => used.DeleteAcknowledge = false)">No</button>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="modal-footer">
                            @if (!used.CreateMode && !used.IsUsageCalculated)
                            {
                                <button type="button" class="btn btn-link" @onclick="@(() => used.DeleteAcknowledge = true)">Delete</button>
                            }
                            @if (ShowDoInvoicingButton(used))
                            {
                                @if (!used.InvoicingActionButtonDisabled)
                                {
                                    <button type="button" class="btn btn-outline-dark" @onclick="@(async () => await SaveAndDoInvoicingAsync(used))">
                                        Do invoicing
                                    </button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-outline-dark" disabled="disabled">
                                        Do invoicing
                                    </button>
                                }
                            }
                            <button type="submit" class="btn btn-primary">@(used.CreateMode ? "Create" : "Update")</button>
                            <button type="button" class="btn btn-secondary" @onclick="@(() => UsedCancel(used))">@(used.CreateMode ? "Cancel" : "Close")</button>
                        </div>
                    </PageEditForm>
                }
                else
                {
                    <button type="button" class="btn btn-link mr-auto" @onclick="@(async () => await ShowUpdateUsageAsync(used))">
                        Tenant @used.TenantName@UsagePriceText(used)
                        <br />
                        @{ 
                            (var sendItemsInvoice, var failed, var paid, var statusText) = @UsageInfoText(used);
                            var textClass = sendItemsInvoice ? "text-primary" : failed ? "text-danger font-weight-bold" : paid ? "text-success" : string.Empty;
                        }
                        <small class="@textClass">@statusText</small>
                    </button>

                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                            @if (ShowDoInvoicingButton(used))
                            {
                                @if (!used.InvoicingActionButtonDisabled)
                                {
                                    <button type="button" class="btn btn-sm btn-outline-dark dropdown-item" @onclick="@(async () => await DoInvoicingAsync(used))">
                                        Do invoicing
                                    </button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-sm btn-outline-dark dropdown-item" disabled="disabled">
                                        Do invoicing
                                    </button>
                                }
                            }
                            @if (ShowSendInvoiceAgainButton(used))
                            {
                                @if (!used.InvoicingActionButtonDisabled)
                                {
                                    <button type="button" class="btn btn-sm btn-outline-dark dropdown-item" @onclick="@(async () => await SendInvoiceAgainAsync(used))">
                                        Send invoice again
                                    </button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-sm btn-outline-dark dropdown-item" disabled="disabled">
                                        Send invoice again
                                    </button>
                                }
                            }
                            @if (ShowDoCreditNoteButton(used))
                            {
                                @if (!used.InvoicingActionButtonDisabled)
                                {
                                    <button type="button" class="btn btn-sm btn-outline-dark dropdown-item" @onclick="@(async () => await DoCreditNoteAsync(used))">
                                        Do credit note
                                    </button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-sm btn-outline-dark dropdown-item" disabled="disabled">
                                        Do credit note
                                    </button>
                                }
                            }
                            @if (ShowSendCreditNoteAgainButton(used))
                            {
                                @if (!used.InvoicingActionButtonDisabled)
                                {
                                    <button type="button" class="btn btn-sm btn-outline-dark dropdown-item" @onclick="@(async () => await SendCreditNoteAgainAsync(used))">
                                        Send credit note again
                                    </button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-sm btn-outline-dark dropdown-item" disabled="disabled">
                                        Send credit note again
                                    </button>
                                }
                            }
                            @if (ShowDoPaymentButton(used))
                            {
                                @if (!used.InvoicingActionButtonDisabled)
                                {
                                    <button type="button" class="btn btn-sm btn-outline-dark dropdown-item" @onclick="@(async () => await DoPaymentAgainAsync(used))">
                                        Do payment again
                                    </button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-sm btn-outline-dark dropdown-item" disabled="disabled">
                                        Do payment again
                                    </button>
                                }
                            }
                            @if (ShowMarkAsPaidButton(used))
                            {
                                @if (!used.InvoicingActionButtonDisabled)
                                {
                                    <button type="button" class="btn btn-sm btn-outline-dark dropdown-item" @onclick="@(async () => await DoMarkAsPaidAsync(used))">
                                        Mark as paid
                                    </button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-sm btn-outline-dark dropdown-item" disabled="disabled">
                                        Mark as paid
                                    </button>
                                }
                            }    
                            @if (ShowMarkAsNotPaidButton(used))
                            {
                                @if (!used.InvoicingActionButtonDisabled)
                                {
                                    <button type="button" class="btn btn-sm btn-outline-dark dropdown-item" @onclick="@(async () => await DoMarkAsNotPaidAsync(used))">
                                        Mark as not paid
                                    </button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-sm btn-outline-dark dropdown-item" disabled="disabled">
                                        Mark as not paid
                                    </button>
                                }
                            }
                        </div>
                    </div>

                }
            </li>
        }
    </ul>
    @if (paginationToken != null)
    {
        <div class="pl-3 pt-3">
            <button type="button" class="btn btn-secondary" @onclick="LoadMoreUsagesAsync">
                Load more
            </button>
        </div>
    }
</div>