@*@inject IModalService ModalService*@

<h3>Create Tenant</h3>

<!--<div class="row">
    <EditForm Model="@tenant" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />-->
        @*<ValidationSummary />*@

        <!--<div class="form-group active-group">
            <InputText @bind-Value="tenant.Name" class="form-control input-control" />
            <Label For="@(() => tenant.Name)" class="label-control" />
            <ValidationMessage For="@(() => tenant.Name)" />
        </div>
        <div class="form-group active-group">
            <InputText @bind-Value="tenant.AdministratorEmail" class="form-control input-control" />
            <Label For="@(() => tenant.AdministratorEmail)" class="label-control" />
            <ValidationMessage For="@(() => tenant.AdministratorEmail)" />
        </div>

        <button class="btn btn-primary" type="submit">Create tenant</button>
    </EditForm>
</div>-->

@code {
    //private Tenant tenant = new Tenant();

    //private void HandleValidSubmit()
    //{
    //    Console.WriteLine("OnValidSubmit");
    //}
}