@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ErrorViewModel

@{
    ViewData["Title"] = Localizer["Error"];
}

@if (Model.ShowErrorTitle)
{
    <h2 class="text-danger">@Model.ErrorTitle</h2>
}
else
{
    <h2 class="text-danger">@ViewData["Title"]</h2>
}

<p>
    @if (Model.ShowError)
    {
        <h4 class="text-danger">@Model.Error</h4>
    }
    else
    {
        <h4 class="text-danger">@Localizer["An error has occurred. Please try again."]</h4>
    }
</p>

<p>
    Time: <code>@Model.CreateTime</code><br />
    Request ID: <code>@Model.RequestId</code><br />
    Operation ID: <code>@Model.OperationId</code>
    @if (Model.TechnicalErrors?.Count() > 0)
    {
        <br /><span>Technical error:</span>
        foreach (var technicalError in Model.TechnicalErrors)
        {
            <br /><code>@technicalError</code>
        }
    }
</p>

@if (Model.ShowRetry)
{
    <div>
        <p>
            <strong>@Localizer["Please try again in a little while."]</strong>
        </p>
        <button class="btn btn-primary" onClick="document.location.reload(true)">@Localizer["Try again"]</button>
    </div>
}
