@page "/{tenantName}/logs"
@inherits PageBase

@if (ClientSettings.LogOption != LogOptions.Stdout)
{
    <div class="pb-2">
        <div class="info-text pt-0">
            Search the <DocsLink Page="logging">logs</DocsLink> and change what should be logged in the environment.
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active">Logs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@logUsageHref">Usages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@logSettingsHref">Settings</a>
        </li>
    </ul>

    <div class="tab-content pt-4">
        @if (ClientSettings.LogOption == LogOptions.ApplicationInsights)
        {
            <div class="alert alert-info" role="alert">
                The logs are available after a few minutes because the logs are processed in Application Insights before making them available.
            </div>
        }

        @if (!logLoadError.IsNullOrWhiteSpace())
        {
            <div class="alert alert-danger" role="alert">
                @logLoadError
            </div>
        }

        <PageEditForm @ref="logRequestForm" TModel="LogRequestViewModel" OnAfterInit="LogRequestViewModelAfterInit" OnValidSubmit="OnLogRequestValidSubmitAsync">
            <FInputText @bind-Value="logRequestForm.Model.FromTime" For="@(() => logRequestForm.Model.FromTime)" />
            <FInputSelect @bind-Value="logRequestForm.Model.TimeInterval" For="@(() => logRequestForm.Model.TimeInterval)">
                <option value="@LogTimeIntervals.ThirtySeconds">30 seconds</option>
                <option value="@LogTimeIntervals.OneMinute">1 minute</option>
                <option value="@LogTimeIntervals.FiveMinutes">5 minutes</option>
                <option value="@LogTimeIntervals.FifteenMinutes">15 minutes</option>
                <option value="@LogTimeIntervals.ThirtyMinutes">30 minutes</option>
                <option value="@LogTimeIntervals.OneHour">1 hour</option>
                <option value="@LogTimeIntervals.SixHours">6 hours</option>
                <option value="@LogTimeIntervals.TwelveHours">12 hours</option>
                <option value="@LogTimeIntervals.TwentyfourHours">24 hours</option>
            </FInputSelect>
            <FInputCheckboxSelect Items="queryTypeItems" SelectedItems="logRequestForm.Model.QueryTypes" For="@(() => logRequestForm.Model.QueryTypes)" />
            <FInputTextFilter @bind-Value="logRequestForm.Model.Filter" For="@(() => logRequestForm.Model.Filter)" />
        </PageEditForm>

        @if (logResponse != null && logResponse.ResponseTruncated)
        {
            <div class="alert alert-warning" role="alert">
                The result set is to big and not all logs are shown.
            </div>
        }

        <ul class="list-group list-group-stripes">
            @if (logResponse == null)
            {
                <li class="list-group-item"><i>Loading...</i></li>
            }
            else 
            {
                if(logResponse.Items.Count() <= 0)
                {
                    <li class="list-group-item"><i>No logs found.</i></li>
                }

                @foreach (var item in logResponse.Items)
                {
                    <li class="list-group-item">
                        @if (item.Type == LogItemTypes.Sequence)
                        {
                            <div>
                                <div><b>@item.Type.ToString()</b> @item.Timestamp.TimeToString()</div>
                                <div>Sequence ID: @item.SequenceId</div>

                                <ul class="list-group">
                                    @foreach (var sSubItem in item.SubItems)
                                    {
                                        <li class="list-group-item">
                                            @if (sSubItem.Type == LogItemTypes.Operation)
                                            {
                                                <div>
                                                    <div><b>@sSubItem.Type.ToString()</b> @sSubItem.Timestamp.TimeToString()</div>
                                                    <div>Operation ID: @sSubItem.OperationId</div>

                                                    <ul class="list-group">
                                                        @foreach (var oSubItem in sSubItem.SubItems)
                                                        {
                                                            <li class="list-group-item">
                                                                <ELogItem Item="oSubItem" />
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            }
                                            else
                                            {
                                                <ELogItem Item="sSubItem" />
                                            }
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                        else if (item.Type == LogItemTypes.Operation)
                        {
                            <div>
                                <div><b>@item.Type.ToString()</b> @item.Timestamp.TimeToString()</div>
                                <div>Operation ID: @item.OperationId</div>

                                <ul class="list-group">
                                    @foreach (var oSubItem in item.SubItems)
                                    {
                                        <li class="list-group-item">
                                            <ELogItem Item="oSubItem" />
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                        else
                        {
                            <ELogItem Item="item" />
                        }
                    </li>
                }
            }
        </ul>
    </div>
}