@page "/{tenantName}/downparties"
@inherits PageBase

<div class="d-flex">
    <div class="mr-auto p-2">
        <h3>Parties</h3>
    </div>
    <div class="p-2">
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="oi oi-plus" aria-hidden="true"></span> Create Down Party
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <button class="dropdown-item btn btn-link" @onclick="@(() => ShowCreateDownPartyModal(PartyTypes.Oidc))">OpenID Connect</button>
                <button class="dropdown-item btn btn-link" @onclick="@(() => ShowCreateDownPartyModal(PartyTypes.OAuth2))">OAuth 2.0</button>
                <button class="dropdown-item btn btn-link" @onclick="@(() => ShowCreateDownPartyModal(PartyTypes.Saml2))">Saml 2.0</button>
            </div>
        </div>
    </div>
</div>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active">Down Parties</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@upPartyHref">Up Parties</a>
    </li>
</ul>

<div class="tab-content">
    <div>
        <PageEditForm @ref="downPartyFilterForm" TModel="FilterPartyViewModel" OnValidSubmit="OnDownPartyFilterValidSubmitAsync">
            <FInputTextFilter @bind-Value="downPartyFilterForm.Model.FilterName" For="@(() => downPartyFilterForm.Model.FilterName)" />
        </PageEditForm>

        <ul class="list-group list-group-flush">
            @foreach (var downParty in downParties)
            {
                <li class="list-group-item">
                    <button class="btn btn-link" @onclick="@(async () => await ShowUpdateDownPartyAsync(@downParty.Type, @downParty.Name))">
                        @downParty.Name, type: @downParty.Type<br />
                    </button>
                </li>
            }
        </ul>
    </div>
</div>

