@page "/{tenantName}/tenant"
@inherits PageBase

<div class="tab-content">
    <PageEditForm @ref="tenantSettingsForm" TModel="MasterTenantViewModel" OnValidSubmit="OnUpdateTenantValidSubmitAsync">
        @if (TrackSelectedLogic.IsTrackSelected)
        {
            <div class="modal-body px-0">
                @if (!deleteTenantError.IsNullOrWhiteSpace())
                {
                    <div class="alert alert-danger" role="alert">
                        @deleteTenantError
                    </div>
                }
                <FFieldText @bind-Value="tenantSettingsForm.Model.Name" For="@(() => tenantSettingsForm.Model.Name)" />
                <FInputText @bind-Value="tenantSettingsForm.Model.CustomDomain" For="@(() => tenantSettingsForm.Model.CustomDomain)" Focus="true" />
                <FInputToggle Disabled=true @bind-Value="IsCustomDomainVerified" For="@(() => tenantSettingsForm.Model.CustomDomainVerified)" TextType="y.n" />


                <FFieldText @bind-Value="tenantSettingsForm.Model.PlanName" For="@(() => tenantSettingsForm.Model.PlanName)" />
                @if (ClientSettings.EnableMollie)
                {
                    <div class="py-2">
                        <button class="btn btn-primary" type="button" @onclick="ShowPlanPaymentModal">Change plan and playment</button>
                    </div>
                }

                @if (deleteTenantAcknowledge)
                {
                    <div class="alert alert-danger" role="alert">
                        <div>
                            You are about to delete your tenant. All tracks and user repositories will also be deleted, there is no way back a tenant can not be restored! Are you sure?
                        </div>

                        <div class="mt-3">
                            <button type="button" class="btn btn-secondary" @onclick="DeleteTenantAsync">Yes delete tenant</button>
                            <button type="button" class="btn btn-secondary" @onclick="@(() => deleteTenantAcknowledge = false)">No</button>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer px-0">
                <button type="button" class="btn btn-link @(tenantWorking ? "disabled" : "")" @onclick="@(() => deleteTenantAcknowledge = true)">Delete tenant</button>
                <button type="submit" class="btn btn-primary @(tenantWorking ? "disabled" : "")">Update</button>
            </div>
        }
    </PageEditForm>
</div>

<Modal @ref="changePlanPaymentModal" Title="Plan and Payment">
    <PageEditForm @ref="changePlanPaymentForm" TModel="ChangePlanPaymentViewModel" OnValidSubmit="OnChangePlanPaymentValidSubmitAsync">
        <div class="modal-body">
            <div class="mr-auto info-text">
                You can change the plan to a higher one and change payments.
            </div>
           @*  <FInputText @bind-Value="changePlanPaymentForm.Model.DisplayName" For="@(() => changePlanPaymentForm.Model.DisplayName)" Focus="true" /> *@

        </div>
        <div class="modal-footer">
            @if (!changePlanPaymentDone)
            {
                @* <button type="submit" class="btn btn-primary @(changePlanPaymentWorking ? "disabled" : "")">Create</button> *@
                <button type="button" class="btn btn-secondary @(changePlanPaymentWorking ? "disabled" : "")" @onclick="@(() => changePlanPaymentModal.Hide())">Cancel</button>
            }
            else
            {
                <button type="button" class="btn btn-secondary" @onclick="@(() => changePlanPaymentModal.Hide())">Close</button>
            }
        </div>
    </PageEditForm>
</Modal>

<Modal @ref="tenantDeletedModal" Title="Deleted" DisableClose="true">
    <div class="modal-body">
        <div class="alert alert-info" role="alert">
            Your tenant including all content has been deleted.
        </div>
    </div>
</Modal>
