@page "/{tenantName}/plans"
@inherits PageBase

<div class="d-flex">
    <div class="mr-auto p-2">
    </div>
    <div class="p-2">
        <button type="button" class="btn btn-primary" @onclick="@(() => ShowCreatePlan())">
            <span class="oi oi-plus" aria-hidden="true"></span> Create Plan
        </button>
    </div>
</div>


<PageEditForm @ref="planFilterForm" TModel="FilterPlanViewModel" OnValidSubmit="OnPlanFilterValidSubmitAsync">
    <FInputTextFilter @bind-Value="planFilterForm.Model.FilterName" For="@(() => planFilterForm.Model.FilterName)" />
</PageEditForm>

<ul class="list-group">
    @foreach (var plan in plans)
    {
        <li class="list-group-item @(plan.Edit ? "active" : string.Empty)">
            @if (!plan.Error.IsNullOrWhiteSpace())
            {
                <div class="alert alert-danger" role="alert">
                    @plan.Error
                </div>
            }
            @if (plan.Edit)
            {
                <PageEditForm @ref="plan.Form" TModel="Plan" OnAfterInit="@(m => PlanViewModelAfterInit(plan, m))" OnValidSubmit="@(async (editContext) => await OnEditPlanValidSubmitAsync(plan, editContext))">
                    <div class="modal-header">
                        Plan
                    </div>
                    <div class="modal-body">
                        @if (plan.CreateMode)
                        {
                            <FInputText @bind-Value="plan.Form.Model.Name" For="@(() => plan.Form.Model.Name)" Focus="true" />
                        }
                        else
                        {
                            <FFieldText @bind-Value="plan.Form.Model.Name" For="@(() => plan.Form.Model.Name)" />
                            <input type="hidden" @bind="plan.Form.Model.Name" />
                        }

                        <FInputText @bind-Value="plan.Form.Model.Text" For="@(() => plan.Form.Model.Text)" />
                        <FInputText @bind-Value="plan.Form.Model.Currency" For="@(() => plan.Form.Model.Currency)" />
                        <FInputNumberD @bind-Value="plan.Form.Model.CostPerMonth" For="@(() => plan.Form.Model.CostPerMonth)" />
                        <FInputToggle @bind-Value="plan.Form.Model.BlockAfterIncluded" For="@(() => plan.Form.Model.BlockAfterIncluded)" TextType="y.n" />

                        <ul class="list-group">
                            <li class="list-group-item">
                                <Label For="@(() => plan.Form.Model.UserPerMonth)" class="label-control" />
                                <FInputNumberL @bind-Value="plan.Form.Model.UserPerMonth.Included" For="@(() => plan.Form.Model.UserPerMonth.Included)" />
                                <FInputNumberD @bind-Value="plan.Form.Model.UserPerMonth.FirstLevelCost" For="@(() => plan.Form.Model.UserPerMonth.FirstLevelCost)" />
                                <FInputNumberLN @bind-Value="plan.Form.Model.UserPerMonth.FirstLevelThreshold" For="@(() => plan.Form.Model.UserPerMonth.FirstLevelThreshold)" />
                                <FInputNumberDN @bind-Value="plan.Form.Model.UserPerMonth.SecondLevelCost" For="@(() => plan.Form.Model.UserPerMonth.SecondLevelCost)" />
                            </li>
                            <li class="list-group-item">
                                <Label For="@(() => plan.Form.Model.LoginPerMonth)" class="label-control" />
                                <FInputNumberL @bind-Value="plan.Form.Model.LoginPerMonth.Included" For="@(() => plan.Form.Model.LoginPerMonth.Included)" />
                                <FInputNumberD @bind-Value="plan.Form.Model.LoginPerMonth.FirstLevelCost" For="@(() => plan.Form.Model.LoginPerMonth.FirstLevelCost)" />
                                <FInputNumberLN @bind-Value="plan.Form.Model.LoginPerMonth.FirstLevelThreshold" For="@(() => plan.Form.Model.LoginPerMonth.FirstLevelThreshold)" />
                                <FInputNumberDN @bind-Value="plan.Form.Model.LoginPerMonth.SecondLevelCost" For="@(() => plan.Form.Model.LoginPerMonth.SecondLevelCost)" />
                            </li>
                            <li class="list-group-item">
                                <Label For="@(() => plan.Form.Model.TokenPerMonth)" class="label-control" />
                                <FInputNumberL @bind-Value="plan.Form.Model.TokenPerMonth.Included" For="@(() => plan.Form.Model.TokenPerMonth.Included)" />
                                <FInputNumberD @bind-Value="plan.Form.Model.TokenPerMonth.FirstLevelCost" For="@(() => plan.Form.Model.TokenPerMonth.FirstLevelCost)" />
                                <FInputNumberLN @bind-Value="plan.Form.Model.TokenPerMonth.FirstLevelThreshold" For="@(() => plan.Form.Model.TokenPerMonth.FirstLevelThreshold)" />
                                <FInputNumberDN @bind-Value="plan.Form.Model.TokenPerMonth.SecondLevelCost" For="@(() => plan.Form.Model.TokenPerMonth.SecondLevelCost)" />
                            </li>
                            <li class="list-group-item">
                                <Label For="@(() => plan.Form.Model.ControlApiGetPerMonth)" class="label-control" />
                                <FInputNumberL @bind-Value="plan.Form.Model.ControlApiGetPerMonth.Included" For="@(() => plan.Form.Model.ControlApiGetPerMonth.Included)" />
                                <FInputNumberD @bind-Value="plan.Form.Model.ControlApiGetPerMonth.FirstLevelCost" For="@(() => plan.Form.Model.ControlApiGetPerMonth.FirstLevelCost)" />
                                <FInputNumberLN @bind-Value="plan.Form.Model.ControlApiGetPerMonth.FirstLevelThreshold" For="@(() => plan.Form.Model.ControlApiGetPerMonth.FirstLevelThreshold)" />
                                <FInputNumberDN @bind-Value="plan.Form.Model.ControlApiGetPerMonth.SecondLevelCost" For="@(() => plan.Form.Model.ControlApiGetPerMonth.SecondLevelCost)" />
                            </li>
                            <li class="list-group-item">
                                <Label For="@(() => plan.Form.Model.ControlApiUpdatePerMonth)" class="label-control" />
                                <FInputNumberL @bind-Value="plan.Form.Model.ControlApiUpdatePerMonth.Included" For="@(() => plan.Form.Model.ControlApiUpdatePerMonth.Included)" />
                                <FInputNumberD @bind-Value="plan.Form.Model.ControlApiUpdatePerMonth.FirstLevelCost" For="@(() => plan.Form.Model.ControlApiUpdatePerMonth.FirstLevelCost)" />
                                <FInputNumberLN @bind-Value="plan.Form.Model.ControlApiUpdatePerMonth.FirstLevelThreshold" For="@(() => plan.Form.Model.ControlApiUpdatePerMonth.FirstLevelThreshold)" />
                                <FInputNumberDN @bind-Value="plan.Form.Model.ControlApiUpdatePerMonth.SecondLevelCost" For="@(() => plan.Form.Model.ControlApiUpdatePerMonth.SecondLevelCost)" />
                            </li>
                        </ul>
                            
                        <FInputText @bind-Value="plan.Form.Model.AppInsightsKey" For="@(() => plan.Form.Model.AppInsightsKey)" />
                        <FInputText @bind-Value="plan.Form.Model.AppInsightsWorkspaceId" For="@(() => plan.Form.Model.AppInsightsWorkspaceId)" />
                    </div>
                    @if (!plan.CreateMode && plan.DeleteAcknowledge)
                    {
                        <div class="modal-footer">
                            <div class="alert alert-danger" role="alert">
                                <div>
                                    You are about to delete Plan "@plan.Name", are you sure?
                                </div>

                                <div class="mt-3">
                                    <button type="button" class="btn btn-secondary" @onclick="@(async () => await DeletePlanAsync(plan))">Yes delete plan</button>
                                    <button type="button" class="btn btn-secondary" @onclick="@(() => plan.DeleteAcknowledge = false)">No</button>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="modal-footer">
                        @if (!plan.CreateMode)
                        {
                            <button type="button" class="btn btn-link" @onclick="@(() => plan.DeleteAcknowledge = true)">Delete</button>
                        }
                        <button type="submit" class="btn btn-primary">@(plan.CreateMode ? "Create" : "Update")</button>
                        <button type="button" class="btn btn-secondary" @onclick="@(() => PlanCancel(plan))">@(@plan.CreateMode ? "Cancel" : "Close")</button>
                    </div>
                </PageEditForm>
            }
            else
            {
                <button class="btn btn-link" @onclick="@(async () => await ShowUpdatePlanAsync(plan))">
                    @PlanInfoText(plan)
                </button>
            }
        </li>
    }
</ul>