@page "/{tenantName}/tenants"
@inherits PageBase

<h3>Tenants</h3>

<PageEditForm @ref="searchTenantForm" TModel="SearchTenantViewModel" OnValidSubmit="OnValidSubmitAsync">
    <div class="form-group active-group">
        <div class="input-group">
            <InputText @bind-Value="searchTenantForm.Model.Name" class="form-control input-control" />
            <Label For="@(() => searchTenantForm.Model.Name)" class="label-control" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Go</button>
            </div>
        </div>
        <ValidationMessage For="@(() => searchTenantForm.Model.Name)" />
    </div>
</PageEditForm>

<ul class="list-group list-group-flush">
    @foreach (var tenant in tenants)
    {
        <li class="list-group-item">
            <button class="btn btn-link" @onclick="@(() => ShowTenant(@tenant.Name))">
                @tenant.Name<br />
            </button>
        </li>
    }
</ul>

<Modal @ref="tenantModal" Title="Tenant">
    <div class="modal-body">
        @if (!deleteTenantError.IsNullOrWhiteSpace())
        {
            <div class="alert alert-danger" role="alert">
                @deleteTenantError
            </div>
        }
        <div class="mt-1 mb-3">
            Tenant name: @tenantInfo.Name
        </div>
        @if (deleteTenantAcknowledge)
        {
            <div class="alert alert-danger" role="alert">
                <div>
                    You are about to delete tenant "@tenantInfo.Name", are you sure?
                </div>

                <div class="mt-3">
                    <button class="btn btn-secondary" @onclick="@(async () => await DeleteTenantAsync(@tenantInfo.Name))">Yes delete tenant</button>
                    <button class="btn btn-secondary" @onclick="@(() => deleteTenantAcknowledge = false)">No</button>
                </div>
            </div>
        }
    </div>
    <div class="modal-footer">
        <a class="btn btn-link" href="@tenantInfo.LoginUri" target="_blank">Open tenant</a>
        <button class="btn btn-link" @onclick="@(() => deleteTenantAcknowledge = true)">Delete tenant</button>
        <br />
        <button class="btn btn-secondary" @onclick="@(() => tenantModal.Hide())">Close</button>
    </div>
</Modal>