@page "/{tenantName}/tenants"
@inherits PageBase

<PageEditForm @ref="searchTenantForm" TModel="FilterTenantViewModel" OnValidSubmit="OnTenantFilterValidSubmitAsync">
    <FInputTextFilter @bind-Value="searchTenantForm.Model.FilterValue" For="@(() => searchTenantForm.Model.FilterValue)" />
</PageEditForm>

<ul class="list-group">
    @foreach (var tenant in tenants)
    {
        <li class="list-group-item @(tenant.Edit ? "active" : string.Empty)">
            @if (!tenant.Error.IsNullOrWhiteSpace())
            {
                <div class="alert alert-danger" role="alert">
                    @tenant.Error
                </div>
            }
            @if (tenant.Edit)
            {
                <PageEditForm @ref="tenant.Form" TModel="Tenant" OnValidSubmit="@(async (editContext) => await OnEditTenantValidSubmitAsync(tenant, editContext))">
                    <div class="modal-header">
                        Tenant
                    </div>
                    <div class="modal-body">
                        <FFieldText @bind-Value="tenant.Form.Model.Name" For="@(() => tenant.Form.Model.Name)" />
                        <input type="hidden" @bind="tenant.Form.Model.Name" />
                        <FInputText @bind-Value="tenant.Form.Model.PlanName" For="@(() => tenant.Form.Model.PlanName)" Focus="true" />
                        <FInputText @bind-Value="tenant.Form.Model.CustomDomain" For="@(() => tenant.Form.Model.CustomDomain)" />
                        <FInputToggle @bind-Value="tenant.Form.Model.CustomDomainVerified" For="@(() => tenant.Form.Model.CustomDomainVerified)" TextType="y.n" />
                    </div>

                    @if (tenant.DeleteAcknowledge)
                    {
                        <div class="modal-footer">
                            <div class="alert alert-danger" role="alert">
                                <div>
                                    You are about to delete tenant "@tenant.Name" possible including tracks and user repositories which will also be deleted. There is no way back a tenant can not be restored! Are you sure?
                                </div>

                                <div class="mt-3">
                                    <button type="button" class="btn btn-secondary" @onclick="@(async () => await DeleteTenantAsync(tenant))">Yes delete tenant</button>
                                    <button type="button" class="btn btn-secondary" @onclick="@(() => tenant.DeleteAcknowledge = false)">No</button>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="modal-footer">
                        @if (tenant.Name != Constants.Routes.MasterTenantName)
                        {
                            <a class="btn btn-link" href="@tenant.LoginUri" target="_blank">Open tenant</a>
                        }
                        <button type="button" class="btn btn-link" @onclick="@(() => tenant.DeleteAcknowledge = true)">Delete</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="button" class="btn btn-secondary" @onclick="@(() => tenant.Edit = false)">Close</button>
                    </div>
                </PageEditForm>
            }
            else
            {
                <button class="btn btn-link" @onclick="@(async () => await ShowUpdateTenantAsync(tenant))">
                    @TenantInfoText(tenant)
                </button>
                @if (tenant.Name != Constants.Routes.MasterTenantName)
                {
                    <span> - </span>
                    <a class="btn btn-sm btn-link" href="@tenant.LoginUri" target="_blank">Open tenant</a>
                }
            }
        </li>
    }
</ul>