@page "/{tenantName}/upparties"
@inherits PageBase

<div class="d-flex">
    <div class="mr-auto p-2">
        <h3>Parties</h3>
    </div>
    <div class="p-2">
        <button class="nav-link btn btn-link" @onclick="@(() => ShowCreateUpPartyModal())"><span class="oi oi-plus" aria-hidden="true"></span> Create Up Party</button>
    </div>
</div>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="@downPartyHref">Down Parties</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active">Up Parties</a>
    </li>
</ul>

<div class="tab-content">
    <div>
        <PageEditForm @ref="upPartyFilterForm" TModel="FilterPartyViewModel" OnValidSubmit="OnUpPartyFilterValidSubmitAsync">
            <div class="form-group active-group">
                <div class="input-group">
                    <InputText @bind-Value="upPartyFilterForm.Model.FilterName" class="form-control input-control" />
                    <Label For="@(() => upPartyFilterForm.Model.FilterName)" class="label-control" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Go</button>
                    </div>
                </div>
                <ValidationMessage For="@(() => upPartyFilterForm.Model.FilterName)" />
            </div>
        </PageEditForm>

        <ul class="list-group list-group-flush">
            @foreach (var upParty in upParties)
            {
                <li class="list-group-item">
                    <button class="btn btn-link" @onclick="@(async () => await ShowUpPartyAsync(@upParty.Name))">
                        @upParty.Name, type: @upParty.Type<br />
                    </button>
                </li>
            }
        </ul>
    </div>
</div>

<Modal @ref="createUpPartyModal" Title="Create Up Party">
    <PageEditForm @ref="createUpPartyForm" TModel="CreateTenantViewModel" OnValidSubmit="OnCreateUpPartyValidSubmitAsync">
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            @if (!createUpPartyDone)
            {
                <button type="submit" class="btn btn-primary">Create</button>
                <button type="button" class="btn btn-secondary" @onclick="@(() => createUpPartyModal.Hide())">Cancel</button>
            }
            else
            {
                <button type="button" class="btn btn-secondary" @onclick="@(() => createUpPartyModal.Hide())">Close</button>
            }
        </div>
    </PageEditForm>
</Modal>

<Modal @ref="upPartyModal" Title="Up Party">
    <div class="modal-body">
    </div>
    <div class="modal-footer">
    </div>
</Modal>


