@page "/{tenantName}/internalusers"
@inherits PageBase

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active">Internal Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@externalUsersHref">External Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@failingLoginsHref">Failing Login Lockout</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@refreshTokenGrantsHref">Refresh Token Grants</a>
    </li>
</ul>

<div class="d-flex pt-2">
    <div class="info-text mr-auto">
        The <DocsLink Page="users-internal">internal user</DocsLink> are stored in the environment's user store.
        <br />
        More about: <DocsLink Page="login">Login and MFA</DocsLink>
    </div>
    <div class="py-2">
        <button type="button" class="btn btn-primary" @onclick="@(() => ShowCreateUser())">
            <span class="oi oi-plus" aria-hidden="true"></span> Create User
        </button>
    </div>
</div>

<PageEditForm @ref="userFilterForm" TModel="FilterUserViewModel" OnValidSubmit="OnUserFilterValidSubmitAsync">
    <FInputTextFilter @bind-Value="userFilterForm.Model.FilterValue" For="@(() => userFilterForm.Model.FilterValue)" />
</PageEditForm>

<ul class="list-group">
    @foreach (var user in users)
    {
        <li class="list-group-item @(user.Edit ? "active" : "d-flex justify-content-between align-items-center")">
            @if (!user.Error.IsNullOrWhiteSpace())
            {
                <div class="alert alert-danger" role="alert">
                    @user.Error
                </div>
            }
            @if (user.Edit)
            {
                <PageEditForm @ref="user.Form" TModel="UserViewModel" OnAfterInit="@(m => UserViewModelAfterInit(user, m))" OnValidSubmit="@(async (editContext) => await OnEditUserValidSubmitAsync(user, editContext))">
                    <div class="modal-header sticky-header">
                        <div class="h5 d-flex flex-nowrap align-items-center mb-0" style="min-width: 0; overflow: hidden;">
                            <span class="text-nowrap" style="flex-grow: 0; flex-shrink: 1; min-width: 0; overflow: hidden; text-overflow: clip; white-space: nowrap;">User</span>
                            <span class="ml-2 text-muted text-truncate" style="flex-grow: 1; flex-shrink: 100; min-width: 0; overflow: hidden;">@GetInfoText(user)</span>
                        </div>
                        <FInputSwitchAdvancedOptions @bind-Value="user.ShowAdvanced" />
                    </div>
                    <div class="modal-body">
                        <div class="active-group active">
                            <div class="card">
                                <div class="card-body pt-2 pb-0">
                                    <FInputText @bind-Value="user.Form.Model.Email" For="@(() => user.Form.Model.Email)" Focus="user.CreateMode" />
                                    <FInputText @bind-Value="user.Form.Model.Phone" For="@(() => user.Form.Model.Phone)" />
                                    <FInputText @bind-Value="user.Form.Model.Username" For="@(() => user.Form.Model.Username)" />
                                </div>
                            </div>
                            <label class="label-control">User identifiers</label>
                        </div>
                        @if (user.CreateMode)
                        {
                            <FInputPassword @bind-Value="user.Form.Model.Password" For="@(() => user.Form.Model.Password)" />
                        }
                        else
                        {
                            <FFieldText @bind-Value="user.Form.Model.Password" For="@(() => user.Form.Model.Password)" />
                            <input type="hidden" @bind="user.Form.Model.Password" />
                        }

                        @if (!user.CreateMode)
                        {
                            <FFieldText @bind-Value="user.Form.Model.UserId" For="@(() => user.Form.Model.UserId)" />
                        }
                        <div class="active-group active">
                            <div class="card">
                                <div class="card-body pt-3 pb-0">
                                    <FInputToggle @bind-Value="user.Form.Model.ConfirmAccount" For="@(() => user.Form.Model.ConfirmAccount)" TextType="y.n" />
                                    <FInputToggle @bind-Value="user.Form.Model.EmailVerified" For="@(() => user.Form.Model.EmailVerified)" TextType="y.n" />
                                    <FInputToggle @bind-Value="user.Form.Model.PhoneVerified" For="@(() => user.Form.Model.PhoneVerified)" TextType="y.n" />
                                </div>
                            </div>
                            <label class="label-control">User confirmation</label>
                        </div>
                        <FInputToggle @bind-Value="user.Form.Model.ChangePassword" For="@(() => user.Form.Model.ChangePassword)" TextType="y.n" />
                        <div class="active-group active">
                            <div class="card">
                                <div class="card-body pt-3 pb-0">
                                    <FInputToggle @bind-Value="user.Form.Model.SetPasswordEmail" For="@(() => user.Form.Model.SetPasswordEmail)" TextType="y.n" />
                                    <FInputToggle @bind-Value="user.Form.Model.SetPasswordSms" For="@(() => user.Form.Model.SetPasswordSms)" TextType="y.n" />
                                </div>
                            </div>
                            <label class="label-control">Set password</label>
                        </div>
                        <FInputToggle @bind-Value="user.Form.Model.DisableAccount" For="@(() => user.Form.Model.DisableAccount)" Negation="true" TextType="e.d" />
                        @if (user.ShowAdvanced)
                        {
                            <div class="active-group active">
                                <div class="card">
                                    <div class="card-body pb-0">
                                        <div class="info-text">Choose which two-factor options should be available to the user.</div>
                                        <FInputToggle @bind-Value="user.Form.Model.DisableTwoFactorApp" For="@(() => user.Form.Model.DisableTwoFactorApp)" Negation="true" TextType="e.d" />
                                        <FInputToggle @bind-Value="user.Form.Model.DisableTwoFactorSms" For="@(() => user.Form.Model.DisableTwoFactorSms)" Negation="true" TextType="e.d" />
                                        <FInputToggle @bind-Value="user.Form.Model.DisableTwoFactorEmail" For="@(() => user.Form.Model.DisableTwoFactorEmail)" Negation="true" TextType="e.d" />
                                        <FInputToggle @bind-Value="user.Form.Model.RequireMultiFactor" For="@(() => user.Form.Model.RequireMultiFactor)" TextType="y.n" />
                                        <FInputToggle @bind-Value="user.Form.Model.ActiveTwoFactorApp" For="@(() => user.Form.Model.ActiveTwoFactorApp)" TextType="y.n" />
                                    </div>
                                </div>
                                <label class="label-control">Two-factor</label>
                            </div>
                        } 
                        else 
                        {
                            <FInputToggle @bind-Value="user.Form.Model.RequireMultiFactor" For="@(() => user.Form.Model.RequireMultiFactor)" TextType="y.n" />
                        }
                        <div class="form-group active-group active">
                            <Label For="@(() => user.Form.Model.Claims)" class="label-control" />
                            <ul class="list-group">
                                @foreach (var claimAndValues in user.Form.Model.Claims)
                                {
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-11">
                                                <FInputText @bind-Value="claimAndValues.Claim" For="@(() => claimAndValues.Claim)" />
                                                <FInputTextList @bind-ValueList="claimAndValues.Values" For="@(() => claimAndValues.Values)" AddOneMoreName="Value" />
                                            </div>
                                            <div class="col-1 text-right">
                                                <button type="button" class="btn btn-link px-0" title="Remove" @onclick="@(e => RemoveClaim(e, user.Form.Model.Claims, claimAndValues))"><span class="oi oi-circle-x" aria-hidden="true"></span></button>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                            <ValidationMessage For="@(() => user.Form.Model.Claims)" />
                            <button type="button" class="btn btn-link btn-xs" @onclick="@(e => AddClaim(e, user.Form.Model.Claims))"><span class="oi oi-plus" aria-hidden="true"></span> Add Claim</button>
                        </div>
                    </div>
                    @if (!user.CreateMode && user.DeleteAcknowledge)
                    {
                        <div class="modal-footer">
                            <div class="alert alert-danger" role="alert">
                                <div>
                                    You are about to delete User "@(user.Email ?? user.Phone ?? user.Username)", are you sure?
                                </div>

                                <div class="mt-3">
                                    <button type="button" class="btn btn-secondary" @onclick="@(async () => await DeleteUserAsync(user))">Yes delete user</button>
                                    <button type="button" class="btn btn-secondary" @onclick="@(() => user.DeleteAcknowledge = false)">No</button>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="modal-footer">
                        @if (!user.CreateMode)
                        {
                            <button type="button" class="btn btn-link" @onclick="@(() => user.DeleteAcknowledge = true)">Delete</button>
                        }
                        <button type="submit" class="btn btn-primary">@(user.CreateMode ? "Create" : "Update")</button>
                        <button type="button" class="btn btn-secondary" @onclick="@(() => UserCancel(user))">@(@user.CreateMode ? "Cancel" : "Close")</button>
                    </div>
                </PageEditForm>
            }
            else
            {
                <button type="button" class="btn btn-link" style="min-width: 0; overflow: hidden;" @onclick="@(async () => await ShowUpdateUserAsync(user))">
                    <span class="text-truncate d-inline-block" style="max-width: 100%;">@GetInfoText(user, true)</span>
                </button>
            }
        </li>
    }
</ul>
@if (paginationToken != null)
{
    <div class="pl-3 pt-3">
        <button type="button" class="btn btn-secondary" @onclick="LoadMoreUsersAsync">
            Load more
        </button>
    </div>
}