@page "/{tenantName}/claimmappings"
@inherits PageBase

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="@trackSettingsHref">Environment</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@mailSettingsHref">Mail</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@smsSettingsHref">SMS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active">Claim mappings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@textsHref">Texts</a>
    </li>
    @if (IsMasterTenant)
    {
        if (ClientSettings.EnablePayment)
        {
            <li class="nav-item">
                <a class="nav-link" href="@smsPricesHref">SMS Prices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@plansHref">Plans</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link" href="@riskPasswordsHref">Risk Passwords</a>
        </li>
    }
</ul>

<div class="pt-3">
    <div class="info-text">
        Switch between your custom mappings and the built-in defaults.
    </div>
</div>

<ul class="nav nav-tabs nav-tabs-gray pt-3">
    <li class="nav-item">
        @if (activeTab == ClaimMappingsTab.Custom)
        {
            <a class="nav-link active">Custom mappings</a>
        }
        else
        {
            <button type="button" class="nav-link" @onclick="@(() => SelectTab(ClaimMappingsTab.Custom))">Custom mappings</button>
        }
    </li>
    <li class="nav-item">
        @if (activeTab == ClaimMappingsTab.Defaults)
        {
            <a class="nav-link active">Default mappings</a>
        }
        else
        {
            <button type="button" class="nav-link" @onclick="@(() => SelectTab(ClaimMappingsTab.Defaults))">Default mappings</button>
        }
    </li>
</ul>

<div class="card tab-content-card">
    <div class="card-body">
        <div class="tab-content pt-3">
            <div class="tab-pane fade @(activeTab == ClaimMappingsTab.Custom ? "show active" : string.Empty)">
                <div class="d-flex">
                    <div class="info-text mr-auto pb-4">
                        Mappings between JWT and SAML claim types.
                    </div>
                </div>
                <PageEditForm @ref="trackClaimMappingForm" TModel="ClaimMappingViewModel" OnValidSubmit="OnUpdateClaimMappingValidSubmitAsync">
                    @if (TrackSelectedLogic.IsTrackSelected)
                    {
                        <div class="modal-body px-0 py-0">
                            <div class="form-group active-group pt-0 active">
                                @if (trackClaimMappingForm.Model.ClaimMappings != null)
                                {
                                    <ul class="list-group">
                                        @foreach (var claimMapping in trackClaimMappingForm.Model.ClaimMappings)
                                        {
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-11">
                                                        <FInputText @bind-Value="claimMapping.JwtClaim" For="@(() => claimMapping.JwtClaim)" />
                                                        <FInputText @bind-Value="claimMapping.SamlClaim" For="@(() => claimMapping.SamlClaim)" />
                                                    </div>
                                                    <div class="col-1 text-right">
                                                        <button type="button" class="btn btn-link px-0" title="Remove" @onclick="@(e => RemoveClaimMapping(e, claimMapping))"><span class="oi oi-circle-x" aria-hidden="true"></span></button>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                    <ValidationMessage For="@(() => trackClaimMappingForm.Model.ClaimMappings)" />
                                }
                                <button type="button" class="btn btn-link btn-xs" @onclick="AddClaimMapping"><span class="oi oi-plus" aria-hidden="true"></span> Add claim mapping</button>
                            </div>
                        </div>
                        <div class="modal-footer px-0 pb-1">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    }
                </PageEditForm>
            </div>

            <div class="tab-pane fade @(activeTab == ClaimMappingsTab.Defaults ? "show active" : string.Empty)">
                <div class="d-flex">
                    <div class="info-text mr-auto pb-4">
                        Default mappings between JWT and SAML claim types.
                    </div>
                </div>
                <PageEditForm @ref="trackClaimMappingDefaultForm" TModel="ClaimMappingDefaultViewModel">
                    @if (TrackSelectedLogic.IsTrackSelected)
                    {
                        <div class="modal-body px-0 py-0">
                            <div class="form-group active-group pt-0 pb-1 active">
                                <ul class="list-group">
                                    @foreach (var claimMapping in trackClaimMappingDefaultForm.Model.DefaultClaimMappings)
                                    {
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-11">
                                                    <FFieldText @bind-Value="claimMapping.JwtClaim" For="@(() => claimMapping.JwtClaim)" />
                                                    <FFieldText @bind-Value="claimMapping.SamlClaim" For="@(() => claimMapping.SamlClaim)" />
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    }
                </PageEditForm>
            </div>
        </div>
    </div>
</div>