@page "/{tenantName}/claimmappings"
@inherits PageBase

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="@trackSettingsHref">Environment</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@mailSettingsHref">Mail</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active">Claim mappings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@textsHref">Texts</a>
    </li>
    @if (IsMasterTenant)
    {
        if (ClientSettings.EnablePayment)
        {
            <li class="nav-item">
                <a class="nav-link" href="@smsPricesHref">SMS Prices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@plansHref">Plans</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link" href="@riskPasswordsHref">Risk Passwords</a>
        </li>
    }
</ul>

<div class="tab-content">
    <div class="card accordion mt-4">
        <div class="card-body">
            <PageEditForm @ref="trackClaimMappingForm" TModel="ClaimMappingViewModel" OnValidSubmit="OnUpdateClaimMappingValidSubmitAsync">
                @if (TrackSelectedLogic.IsTrackSelected)
                {
                    <div class="modal-body">
                        <div class="form-group active-group active">
                            <Label For="@(() => trackClaimMappingForm.Model.ClaimMappings)" class="label-control" />
                            @if (trackClaimMappingForm.Model.ClaimMappings != null)
                            {
                                <ul class="list-group">
                                    @foreach (var claimMapping in trackClaimMappingForm.Model.ClaimMappings)
                                    {
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-11">
                                                    <FInputText @bind-Value="claimMapping.JwtClaim" For="@(() => claimMapping.JwtClaim)" />
                                                    <FInputText @bind-Value="claimMapping.SamlClaim" For="@(() => claimMapping.SamlClaim)" />
                                                </div>
                                                <div class="col-1 text-right">
                                                    <button type="button" class="btn btn-link px-0" title="Remove" @onclick="@(e => RemoveClaimMapping(e, claimMapping))"><span class="oi oi-circle-x" aria-hidden="true"></span></button>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                                <ValidationMessage For="@(() => trackClaimMappingForm.Model.ClaimMappings)" />
                            }
                            <button type="button" class="btn btn-link btn-xs" @onclick="AddClaimMapping"><span class="oi oi-plus" aria-hidden="true"></span> Add claim mapping</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                }
            </PageEditForm>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <PageEditForm @ref="trackClaimMappingDefaultForm" TModel="ClaimMappingDefaultViewModel">
                @if (TrackSelectedLogic.IsTrackSelected)
                {
                    <div class="modal-body">
                        <div class="form-group active-group active">
                            <Label For="@(() => trackClaimMappingDefaultForm.Model.DefaultClaimMappings)" class="label-control" />
                            <ul class="list-group">
                                @foreach (var claimMapping in trackClaimMappingDefaultForm.Model.DefaultClaimMappings)
                                {
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-11">
                                                <FFieldText @bind-Value="claimMapping.JwtClaim" For="@(() => claimMapping.JwtClaim)" />
                                                <FFieldText @bind-Value="claimMapping.SamlClaim" For="@(() => claimMapping.SamlClaim)" />
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            </PageEditForm>
        </div>
    </div>
</div>
