@page "/{tenantName}/mailsettings"
@inherits PageBase

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="@trackSettingsHref">Environment</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active">Mail</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@smsSettingsHref">SMS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@claimMappingsHref">Claim mappings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@textsHref">Texts</a>
    </li>
    @if (IsMasterTenant)
    {
        if (ClientSettings.EnablePayment)
        {
            <li class="nav-item">
                <a class="nav-link" href="@smsPricesHref">SMS Prices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@plansHref">Plans</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link" href="@riskPasswordsHref">Risk Passwords</a>
        </li>
    }
</ul>

<div class="pt-3">
    <div class="info-text">
        Configure the <DocsLink Page="email">email provider</DocsLink> in the environment.
    </div>
</div>

<div class="tab-content">
    <PageEditForm @ref="mailSettingsForm" TModel="MailSettingsViewModel" OnValidSubmit="OnUpdateMailValidSubmitAsync">
        @if (TrackSelectedLogic.IsTrackSelected)
        {
            <div class="modal-body px-0">
                 @if (!deleteMailError.IsNullOrWhiteSpace())
                {
                    <div class="alert alert-danger" role="alert">
                        @deleteMailError
                    </div>
                }
                <FInputText @bind-Value="mailSettingsForm.Model.FromEmail" For="@(() => mailSettingsForm.Model.FromEmail)" />
                <FInputText @bind-Value="mailSettingsForm.Model.FromName" For="@(() => mailSettingsForm.Model.FromName)" />

                <FInputSelect @bind-Value="mailSettingsForm.Model.MailProvider" For="@(() => mailSettingsForm.Model.MailProvider)">
                    <option value="@MailProviders.Smtp">SMTP</option>
                    <option value="@MailProviders.SendGrid">SendGrid</option>
                </FInputSelect>

                @if (mailSettingsForm.Model.MailProvider == MailProviders.SendGrid)
                {
                    <FInputText @bind-Value="mailSettingsForm.Model.SendgridApiKey" For="@(() => mailSettingsForm.Model.SendgridApiKey)" />
                }
                else if (mailSettingsForm.Model.MailProvider == MailProviders.Smtp)
                {
                    <FInputText @bind-Value="mailSettingsForm.Model.SmtpHost" For="@(() => mailSettingsForm.Model.SmtpHost)" />
                    <FInputNumber @bind-Value="mailSettingsForm.Model.SmtpPort" For="@(() => mailSettingsForm.Model.SmtpPort)" />
                    <FInputText @bind-Value="mailSettingsForm.Model.SmtpUsername" For="@(() => mailSettingsForm.Model.SmtpUsername)" />
                    <FInputText @bind-Value="mailSettingsForm.Model.SmtpPassword" For="@(() => mailSettingsForm.Model.SmtpPassword)" />
                }

                @if (deleteMailAcknowledge)
                {
                    <div class="alert alert-danger" role="alert">
                        <div>
                            You are about to remove the mail settings, are you sure?
                        </div>

                        <div class="mt-3">
                            <button type="button" class="btn btn-secondary" @onclick="DeleteMailAsync">Yes remove mail settings</button>
                            <button type="button" class="btn btn-secondary" @onclick="@(() => deleteMailAcknowledge = false)">No</button>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer px-0">
                <button type="button" class="btn btn-link" @onclick="@(() => deleteMailAcknowledge = true)">Remove mail settings</button>
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        }
    </PageEditForm>
</div>
