@page "/{tenantName}/riskpasswords"
@inherits PageBase

<ul class="nav nav-tabs">
    @if (TrackSelectedLogic.IsTrackSelected && !IsMasterTenant && IsMasterTrack)
    {
        <li class="nav-item">
            <a class="nav-link" href="@tenantSettingsHref">Tenant</a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link" href="@trackSettingsHref">Environment</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@mailSettingsHref">Mail</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@claimMappingsHref">Claim mappings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@textsHref">Texts</a>
    </li>
    @if (IsMasterTenant)
    {
        <li class="nav-item">
            <a class="nav-link" href="@plansHref">Plans</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active">Risk passwords</a>
        </li>
    }
</ul>

@if (!riskPasswordLoadError.IsNullOrWhiteSpace())
{
    <div class="alert alert-danger" role="alert">
        @riskPasswordLoadError
    </div>
}
 
<div class="pt-4">
    <h4>Risk passwords</h4>

    <div class="card">
        <div class="card-body">
            <div class="active-group active">
                <div class="card bg-light">
                    <div class="card-body">
                        @if (uploadRiskPassword != null)
                        {
                            <span>@uploadRiskPassword.RiskPasswordCount</span>
                        }
                        else
                        {
                            <span>&nbsp;</span>
                        }
                    </div>
                </div>
                <Label For="@(() => uploadRiskPassword.RiskPasswordCount)" class="label-control" />
            </div>
            <a class="btn btn-link btn-xs" target="_blank" href="https://www.foxids.com/docs/deployment#upload-risk-passwords">How to upload risk passwords</a>
        </div>
    </div>
</div>

<div class="pt-4">
    <h4 class="pt-2">Test if password is at risk</h4>
    <div class="card">
        <div class="card-body">
            <PageEditForm @ref="testRiskPasswordForm" TModel="TestRiskPasswordViewModel" OnValidSubmit="OnTestRiskPasswordValidSubmitAsync">
                <div class="modal-body pt-0 px-0">
                    <FInputPassword @bind-Value="testRiskPasswordForm.Model.Password" For="@(() => testRiskPasswordForm.Model.Password)" Focus="true" />
                    @if (testRiskPasswordForm.Model.IsValid.HasValue)
                    {
                        if (testRiskPasswordForm.Model.IsValid.Value)
                        {
                            <div class="alert alert-info" role="alert">
                                Password has not appeared in a data breach and is probably not at risk.
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-danger" role="alert">
                                Password has appeared in a data breach and is at risk.
                            </div>
                        }
                    }
                </div>
                <div class="modal-footer px-0">
                    <button type="submit" class="btn btn-primary mr-0">Test password</button>
                </div>
            </PageEditForm>
        </div>
    </div>
</div>