@page "/{tenantName}/envsettings"
@inherits PageBase

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active">Environment</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@mailSettingsHref">Mail</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@smsSettingsHref">SMS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@claimMappingsHref">Claim mappings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@textsHref">Texts</a>
    </li>
    @if (IsMasterTenant)
    {
        if (ClientSettings.EnablePayment)
        {
            <li class="nav-item">
                <a class="nav-link" href="@smsPricesHref">SMS Prices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@plansHref">Plans</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link" href="@riskPasswordsHref">Risk Passwords</a>
        </li>
    }
</ul>

<div class="tab-content">
    <PageEditForm @ref="trackSettingsForm" TModel="TrackSettingsViewModel" OnValidSubmit="OnUpdateTrackValidSubmitAsync">
        @if (TrackSelectedLogic.IsTrackSelected)
        {
            <div class="modal-body px-0">
                @if (!deleteTrackError.IsNullOrWhiteSpace())
                {
                    <div class="alert alert-danger" role="alert">
                        @deleteTrackError
                    </div>
                }
                <FInputText @bind-Value="trackSettingsForm.Model.DisplayName" For="@(() => trackSettingsForm.Model.DisplayName)" />
                <FFieldText @bind-Value="trackSettingsForm.Model.Name" For="@(() => trackSettingsForm.Model.Name)" />
                <FInputNumber @bind-Value="trackSettingsForm.Model.SequenceLifetime" For="@(() => trackSettingsForm.Model.SequenceLifetime)" />
                <FInputToggle @bind-Value="trackSettingsForm.Model.AutoMapSamlClaims" For="@(() => trackSettingsForm.Model.AutoMapSamlClaims)" TextType="e.d" />

                <div class="info-text">
                    Add your company name and address to send branded SMS and emails.
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <FInputText @bind-Value="trackSettingsForm.Model.CompanyName" For="@(() => trackSettingsForm.Model.CompanyName)" />
                        <FInputText @bind-Value="trackSettingsForm.Model.AddressLine1" For="@(() => trackSettingsForm.Model.AddressLine1)" />
                        <FInputText @bind-Value="trackSettingsForm.Model.AddressLine2" For="@(() => trackSettingsForm.Model.AddressLine2)" />
                        <div class="row">
                            <div class="col-6">
                                <FInputText @bind-Value="trackSettingsForm.Model.PostalCode" For="@(() => trackSettingsForm.Model.PostalCode)" />
                            </div>
                            <div class="col-6">
                                <FInputText @bind-Value="trackSettingsForm.Model.City" For="@(() => trackSettingsForm.Model.City)" />
                            </div>
                        </div>
                        <FInputText @bind-Value="trackSettingsForm.Model.StateRegion" For="@(() => trackSettingsForm.Model.StateRegion)" />
                        <FInputText @bind-Value="trackSettingsForm.Model.Country" For="@(() => trackSettingsForm.Model.Country)" />
                    </div>
                    <div class="col-md-4 mt-3 mt-md-0">
                        @if (ClientSettings.SettingsAddress is { } address && (!string.IsNullOrWhiteSpace(address.CompanyName)
                            || !string.IsNullOrWhiteSpace(address.AddressLine1)
                            || !string.IsNullOrWhiteSpace(address.AddressLine2)
                            || !string.IsNullOrWhiteSpace(address.PostalCode)
                            || !string.IsNullOrWhiteSpace(address.City)
                            || !string.IsNullOrWhiteSpace(address.StateRegion)
                            || !string.IsNullOrWhiteSpace(address.Country)))
                        {
                            <div class="card h-100">
                                <div class="card-body">
                                    <h6 class="card-title">Pre-configured address</h6>
                                    @if (!string.IsNullOrWhiteSpace(address.CompanyName))
                                    {
                                        <div class="pb-2">@address.CompanyName</div>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(address.AddressLine1))
                                    {
                                        <div>@address.AddressLine1</div>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(address.AddressLine2))
                                    {
                                        <div>@address.AddressLine2</div>
                                    }

                                    @if (!string.IsNullOrWhiteSpace(address.PostalCode) && !string.IsNullOrWhiteSpace(address.City))
                                    {
                                        <div>
                                            <span class="pr-2" >@address.PostalCode</span><span>@address.City</span>
                                        </div>                                        
                                    }
                                    else if (!string.IsNullOrWhiteSpace(address.PostalCode))
                                    {
                                        <div>@address.PostalCode</div>
                                    }
                                    else if (!string.IsNullOrWhiteSpace(address.City))
                                    {
                                        <div>@address.City</div>
                                    }

                                    @if (!string.IsNullOrWhiteSpace(address.StateRegion))
                                    {
                                        <div>@address.StateRegion</div>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(address.Country))
                                    {
                                        <div>@address.Country</div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="mr-auto">
                    <h4 class="pt-5 pb-3">Login settings</h4>
                </div>
                <div class="pt-1">
                    <div class="form-group active-group active">
                        <div class="card">
                            <div class="card-body pt-3">
                                <div class="info-text mr-auto pt-0">
                                    Users are locked for an period of time after exceeding @trackSettingsForm.Model.MaxFailingLogins failed login attempts within a @(trackSettingsForm.Model.FailingLoginCountLifetime / 3600) hour timeframe. During this observation period, users remain locked for @(trackSettingsForm.Model.FailingLoginObservationPeriod / 60) minutes and are automatically unlocked once the period ends.
                                </div>
                                <FInputNumber @bind-Value="trackSettingsForm.Model.MaxFailingLogins" For="@(() => trackSettingsForm.Model.MaxFailingLogins)" />
                                <FInputNumber @bind-Value="trackSettingsForm.Model.FailingLoginCountLifetime" For="@(() => trackSettingsForm.Model.FailingLoginCountLifetime)" />
                                <FInputNumber @bind-Value="trackSettingsForm.Model.FailingLoginObservationPeriod" For="@(() => trackSettingsForm.Model.FailingLoginObservationPeriod)" />
                            </div>
                        </div>
                        <Label For="@(() => trackSettingsForm.Model.MaxFailingLogins)" LabelText="Failing login lockout" class="label-control" />
                    </div>
                </div>

                <div class="mr-auto">
                    <h4 class="pt-5 pb-3">Password settings</h4>
                </div>
                <div class="pt-1">
                    <div class="form-group active-group active">
                        <div class="card">
                            <div class="card-body pt-3">
                                <div class="info-text mr-auto pt-0">
                                    The default password policy is used if no password policy group is applied to the internal user.
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <FInputNumber @bind-Value="trackSettingsForm.Model.PasswordLength" For="@(() => trackSettingsForm.Model.PasswordLength)" />
                                        <FInputNumber @bind-Value="trackSettingsForm.Model.PasswordMaxLength" For="@(() => trackSettingsForm.Model.PasswordMaxLength)" />
                                        <FInputToggleN @bind-Value="trackSettingsForm.Model.CheckPasswordComplexity" For="@(() => trackSettingsForm.Model.CheckPasswordComplexity)" />
                                        <FInputToggleN @bind-Value="trackSettingsForm.Model.CheckPasswordRisk" For="@(() => trackSettingsForm.Model.CheckPasswordRisk)" />
                                    </div>
                                    <div class="col-md-6">
                                        <FInputText @bind-Value="trackSettingsForm.Model.PasswordBannedCharacters" For="@(() => trackSettingsForm.Model.PasswordBannedCharacters)" />
                                        <FInputNumber @bind-Value="trackSettingsForm.Model.PasswordHistory" For="@(() => trackSettingsForm.Model.PasswordHistory)" />
                                        <FInputNumberL @bind-Value="trackSettingsForm.Model.PasswordMaxAge" For="@(() => trackSettingsForm.Model.PasswordMaxAge)" />
                                        <FInputNumberL @bind-Value="trackSettingsForm.Model.SoftPasswordChange" For="@(() => trackSettingsForm.Model.SoftPasswordChange)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <Label For="@(() => trackSettingsForm.Model.ExternalPassword)" LabelText="Default password policy" class="label-control" />
                    </div>
                </div>

                <div class="pt-1">
                    <div class="form-group active-group active">
                        <div class="card">
                            <div class="card-body pt-3">
                                <div class="info-text mr-auto pt-0">
                                    Define password policy group that can be applied to the internal users.
                                </div>
                                    @if (trackSettingsForm.Model.PasswordPolicies?.Count > 0)
                                    {
                                        <div class="form-group active-group active mt-3">
                                            <Label For="@(() => trackSettingsForm.Model.ExternalPassword)" LabelText="Policy groups" class="label-control" />
                                            <ul class="list-group">
                                                @foreach (var policy in trackSettingsForm.Model.PasswordPolicies)
                                                {
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                        <div class="col-11 col-md-8">
                                                                <FInputText @bind-Value="policy.Name" For="@(() => policy.Name)" />
                                                            </div>
                                                            <div class="col-1 text-right">
                                                                <button type="button" class="btn btn-link px-0" title="Remove" @onclick="@(e => RemovePasswordPolicy(trackSettingsForm.Model.PasswordPolicies, policy))"><span class="oi oi-circle-x" aria-hidden="true"></span></button>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <FInputText @bind-Value="policy.DisplayName" For="@(() => policy.DisplayName)" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <FInputNumber @bind-Value="policy.Length" For="@(() => policy.Length)" />
                                                                <FInputNumber @bind-Value="policy.MaxLength" For="@(() => policy.MaxLength)" />
                                                                <FInputToggle @bind-Value="policy.CheckComplexity" For="@(() => policy.CheckComplexity)" />
                                                                <FInputToggle @bind-Value="policy.CheckRisk" For="@(() => policy.CheckRisk)" />
                                                            </div>
                                                            <div class="col-md-6">
                                                                <FInputText @bind-Value="policy.BannedCharacters" For="@(() => policy.BannedCharacters)" />
                                                                <FInputNumber @bind-Value="policy.History" For="@(() => policy.History)" />
                                                                <FInputNumberL @bind-Value="policy.MaxAge" For="@(() => policy.MaxAge)" />
                                                                <FInputNumberL @bind-Value="policy.SoftChange" For="@(() => policy.SoftChange)" />
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                            <ValidationMessage For="@(() => trackSettingsForm.Model.PasswordPolicies)" />
                                            <button type="button" class="btn btn-link btn-xs @(trackSettingsForm.Model.PasswordPolicies.Count >= Constants.Models.Track.PasswordPoliciesMax ? "disabled" : string.Empty)" @onclick="AddPasswordPolicy"><span class="oi oi-plus" aria-hidden="true"></span> Add policy group</button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="pl-2 pt-2 pb-3">
                                            <button type="button" class="btn btn-secondary" @onclick="AddPasswordPolicy">Add policy group</button>
                                        </div>
                                    }
                            </div>
                        </div>
                        <Label For="@(() => trackSettingsForm.Model.ExternalPassword)" LabelText="Password policy groups" class="label-control" />
                    </div>
                </div>

                <div class="pt-1">
                    <div class="form-group active-group active">
                        <div class="card">
                            <div class="card-body pt-3">
                                <div class="info-text mr-auto pt-0">
                                    External password validation and notifications:
                                    <ul>
                                        <li>Use the validation API to validate a password.</li>
                                        <li>Use the notification API to receive notifications about login and password changes.</li>
                                        <li>If you need both validation and notification, use the validation API. If the password is valid, trigger an internal notification for the specific scenario being validated (login or password change).</li>
                                    </ul>
                                    The external password validation and notifications API is called no matter what you configure in the default password policy or password policy groups.
                                </div>

                                <div class="pt-2">
                                    <div class="form-group active-group active">
                                        <div class="card">
                                            <div class="card-body pt-3">
                                                <div class="row pl-4">
                                                    <div class="col-6">
                                                        <FInputToggle @bind-Value="trackSettingsForm.Model.ExternalPassword.EnabledValidationCurrent" For="@(() => trackSettingsForm.Model.ExternalPassword.EnabledValidationCurrent)" />
                                                    </div>
                                                    <div class="col-6">
                                                        <FInputToggle @bind-Value="trackSettingsForm.Model.ExternalPassword.EnabledValidationNew" For="@(() => trackSettingsForm.Model.ExternalPassword.EnabledValidationNew)" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <Label For="@(() => trackSettingsForm.Model.ExternalPassword)" LabelText="Call the password validation API" class="label-control" />
                                    </div>
                                </div>

                                <div class="pt-1">
                                    <div class="form-group active-group active">
                                        <div class="card">
                                            <div class="card-body pt-3">
                                                <div class="row pl-4">
                                                    <div class="col-6">
                                                        <FInputToggle @bind-Value="trackSettingsForm.Model.ExternalPassword.EnabledNotificationCurrent" For="@(() => trackSettingsForm.Model.ExternalPassword.EnabledNotificationCurrent)" />
                                                    </div>
                                                    <div class="col-6">
                                                        <FInputToggle @bind-Value="trackSettingsForm.Model.ExternalPassword.EnabledNotificationNew" For="@(() => trackSettingsForm.Model.ExternalPassword.EnabledNotificationNew)" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <Label For="@(() => trackSettingsForm.Model.ExternalPassword)" LabelText="Call the password notification API" class="label-control" />
                                    </div>
                                </div>

                                <FInputText @bind-Value="trackSettingsForm.Model.ExternalPassword.ApiUrl" For="@(() => trackSettingsForm.Model.ExternalPassword.ApiUrl)" />
                                <FInputText @bind-Value="trackSettingsForm.Model.ExternalPassword.Secret" For="@(() => trackSettingsForm.Model.ExternalPassword.Secret)" />
                            </div>
                        </div>
                        <Label For="@(() => trackSettingsForm.Model.ExternalPassword)" LabelText="External password API" class="label-control" />
                    </div>
                </div>

                <div class="mr-auto">
                    <h4 class="pt-5 pb-3">Iframe settings</h4>
                </div>
                @{var includeAllowIframeOnDomainsLabel = trackSettingsForm.Model.AllowIframeOnDomains?.Count > 0;}
                <div class="form-group active-group active">
                    <Label For="@(() => trackSettingsForm.Model.AllowIframeOnDomains)" class="label-control" />
                    <FInputTextList @bind-ValueList="trackSettingsForm.Model.AllowIframeOnDomains" For="@(() => trackSettingsForm.Model.AllowIframeOnDomains)" IncludeActiveFormGroup="false" DynamicFirstRow="true" AddOneMoreName="Domain" />
                </div>

                @if (deleteTrackAcknowledge)
                {
                    <div class="alert alert-danger" role="alert">
                        <div>
                            You are about to delete environment "@(trackSettingsForm.Model.DisplayName ?? trackSettingsForm.Model.Name)" including the user repository, are you sure?
                        </div>

                        <div class="py-3">
                            To confirm that you want to delete, type 'delete'.
                        </div>
                        <FInputText @bind-Value="deleteTrackAcknowledgeText" For="@(() => deleteTrackAcknowledgeText)" LabelText="Confirm, type 'delete'" />

                        <div class="mt-3">
                            <button type="button" class="btn btn-secondary" @onclick="DeleteTrackAsync">Yes delete environment</button>
                            <button type="button" class="btn btn-secondary" @onclick="@(() => deleteTrackAcknowledge = false)">No</button>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer px-0">
                @if (!IsMasterTrack)
                {
                    <button type="button" class="btn btn-link @(trackWorking ? "disabled" : "")" @onclick="@(() => deleteTrackAcknowledge = true)">Delete environment</button>
                }
                <button type="submit" class="btn btn-primary @(trackWorking ? "disabled" : "")">Update</button>
            </div>
        }
    </PageEditForm>
</div>
