@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IdentifierViewModel

@{
    ViewData["Title"] = Localizer["Log in"];
}

<h1 class="heading">@ViewData["Title"]</h1>

<div class="row page-container">
    <div class="col-md page-content">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group active-group">
                <input asp-for="Email" autocomplete="username" class="form-control input-control" autofocus />
                <label asp-for="Email" class="label-control"></label>
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group button-group">
                <input type="submit" value="@Localizer["Next"]" class="btn btn-primary" />
                @if (Model.EnableCancelLogin)
                {
                    <a href="@Constants.Endpoints.CancelLogin/_@Model.SequenceString" class="btn btn-light">@Localizer["Cancel"]</a>
                }
            </div>
            @if (Model.EnableCreateUser)
            {
                <div class="form-group create-user-group">
                    @Localizer["Don't have an account?"]
                    <a href="@Constants.Endpoints.CreateUser/_@Model.SequenceString" class="link">@Localizer["Create User"]</a>
                </div>
            }
        </form>

        @if(Model.UpPatries?.Count() > 0)
        {
            <div style="min-height: 250px">
                <div>
                    <hr>
                    <h2 class="mb-2">OR select:</h2>>

                    <div class="list-group">
                        @foreach (var upParty in Model.UpPatries)
                        {
                            <a upPartyName="@upParty.Name" class="list-group-item list-group-item-action btn btn-secondary btn-lg font-weight-bold" style="margin: 5px 0px" href="../@nameof(FoxIDs.Controllers.LoginController.LoginUpParty).ToLower()/_@Model.SequenceString?name=@upParty.Name">
                                @upParty.DisplayName
                            </a>                                
                        }
                    </div>
                </div>
            </div>            
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
