@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IdentifierViewModel

@{
    ViewData["Title"] = Localizer["Log in"];
}

<h1 class="heading">@ViewData["Title"]</h1>

<div class="row page-container">
    <div class="col-md page-content">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group active-group">
                <input asp-for="Email" autocomplete="username" class="form-control input-control" autofocus />
                <label asp-for="Email" class="label-control"></label>
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group button-group">
                <input type="submit" value="@Localizer["Next"]" class="btn btn-primary" />
                @if (Model.EnableCancelLogin)
                {
                    <a href="@Constants.Endpoints.CancelLogin/_@Model.SequenceString" class="btn btn-light">@Localizer["Cancel"]</a>
                }
            </div>
            @if (Model.EnableCreateUser)
            {
                <div class="form-group create-user-group">
                    @Localizer["Don't have an account?"]
                    <a href="@Constants.Endpoints.CreateUser/_@Model.SequenceString" class="link">@Localizer["Create User"]</a>
                </div>
            }
        </form>
    </div>
</div>

<!-- //TODO login - create hrd select dialog-->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
