@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model PasswordViewModel

@{
    ViewData["Title"] = Localizer["Log in"];
}

<h1 class="heading">@ViewData["Title"]</h1>

<div class="row page-container">
    <div class="col-md page-content">
        <form method="post">
            <input type="hidden" asp-for="Email" autocomplete="off" />
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group active-group active">
                <input asp-for="Email" id="showEmail" disabled autocomplete="off" class="form-control input-control bg-light" />
                <label asp-for="Email" id="showEmail" class="label-control"></label>
                <span asp-validation-for="Email"></span>
                <a href="_@Model.SequenceString?edit=true" class="btn btn-link btn-xs">@Localizer["Change email"]</a>
            </div>    
            <div class="form-group active-group">
                <input asp-for="Password" autocomplete="current-password" class="form-control input-control" autofocus />
                <label asp-for="Password" class="label-control"></label>
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group button-group">
                <input type="submit" value="@Localizer["Log in"]" class="btn btn-primary" />
                @if (Model.EnableCancelLogin)
                {
                    <a href="@Constants.Endpoints.CancelLogin/_@Model.SequenceString" class="btn btn-light">@Localizer["Cancel"]</a>
                }
                @if (Model.EnableResetPassword)
                {
                    <a href="../@Constants.Routes.ActionController/@Constants.Endpoints.ForgotPassword/_@Model.SequenceString" class="btn btn-link float-right forgot-password">@Localizer["Forgot your password?"]</a>
                }
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
