@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model PasswordViewModel

@{
    ViewData["Title"] = Localizer["Log in"];
}

<h1 class="heading">@ViewData["Title"]</h1>

<div class="row page-container name-password">
    <div class="col-md page-content">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            @if (Model.EmailIdentifier != null)
            {
                <input type="hidden" asp-for="EmailIdentifier.Email" autocomplete="off" />
                <div class="form-group active-group active">
                    <div class="base-for-overlap">
                        <input asp-for="EmailIdentifier.Email" id="showEmail" disabled autocomplete="off" class="form-control input-control bg-light" />
                        @if (!Model.DisableChangeUserIdentifier)
                        {
                            <div class="overlap" onclick="location.href = '../_@Model.SequenceString';"></div>
                        }
                    </div>
                    <label asp-for="EmailIdentifier.Email" id="showEmail" class="label-control"></label>
                    <span asp-validation-for="EmailIdentifier.Email"></span>
                    @if (!Model.DisableChangeUserIdentifier)
                    {
                        <a href="../_@Model.SequenceString" class="btn btn-link btn-xs">@Localizer["Change email"]</a>
                    }
                </div>
            }
            else if (Model.PhoneIdentifier != null)
            {
                <input type="hidden" asp-for="PhoneIdentifier.Phone" autocomplete="off" />
                <div class="form-group active-group active">
                    <div class="base-for-overlap">
                        <input asp-for="PhoneIdentifier.Phone" id="showPhone" disabled autocomplete="off" class="form-control input-control bg-light" />
                        @if (!Model.DisableChangeUserIdentifier)
                        {
                            <div class="overlap" onclick="location.href = '../_@Model.SequenceString';"></div>
                        }
                    </div>
                    <label asp-for="PhoneIdentifier.Phone" id="showPhone" class="label-control"></label>
                    <span asp-validation-for="PhoneIdentifier.Phone"></span>
                    @if (!Model.DisableChangeUserIdentifier)
                    {
                        <a href="../_@Model.SequenceString" class="btn btn-link btn-xs">@Localizer["Change phone"]</a>
                    }
                </div>
            }
            else if (Model.UsernameIdentifier != null)
            {
                <input type="hidden" asp-for="UsernameIdentifier.Username" autocomplete="off" />
                <div class="form-group active-group active">
                    <div class="base-for-overlap">
                        <input asp-for="UsernameIdentifier.Username" id="showUsername" disabled autocomplete="off" class="form-control input-control bg-light" />
                        @if (!Model.DisableChangeUserIdentifier)
                        {
                            <div class="overlap" onclick="location.href = '../_@Model.SequenceString';"></div>
                        }
                    </div>
                    <label asp-for="UsernameIdentifier.Username" id="showUsername" class="label-control"></label>
                    <span asp-validation-for="UsernameIdentifier.Username"></span>
                    @if (!Model.DisableChangeUserIdentifier)
                    {
                        <a href="../_@Model.SequenceString" class="btn btn-link btn-xs">@Localizer["Change username"]</a>
                    }
                </div>
            }
            else if (Model.UsernameEmailIdentifier != null)
            {
                <input type="hidden" asp-for="UsernameEmailIdentifier.UserIdentifier" autocomplete="off" />
                <div class="form-group active-group active">
                    <div class="base-for-overlap">
                        <input asp-for="UsernameEmailIdentifier.UserIdentifier" id="showUsernameEmail" disabled autocomplete="off" class="form-control input-control bg-light" />
                        @if (!Model.DisableChangeUserIdentifier)
                        {
                            <div class="overlap" onclick="location.href = '../_@Model.SequenceString';"></div>
                        }
                    </div>
                    <label asp-for="UsernameEmailIdentifier.UserIdentifier" id="showUsernameEmail" class="label-control"></label>
                    <span asp-validation-for="UsernameEmailIdentifier.UserIdentifier"></span>
                    @if (!Model.DisableChangeUserIdentifier)
                    {
                        <a href="../_@Model.SequenceString" class="btn btn-link btn-xs">@Localizer["Change username or email"]</a>
                    }
                </div>

            }
            else if (Model.UsernamePhoneIdentifier != null)
            {
                <input type="hidden" asp-for="UsernamePhoneIdentifier.UserIdentifier" autocomplete="off" />
                <div class="form-group active-group active">
                    <div class="base-for-overlap">
                        <input asp-for="UsernamePhoneIdentifier.UserIdentifier" id="showUsernamePhone" disabled autocomplete="off" class="form-control input-control bg-light" />
                        @if (!Model.DisableChangeUserIdentifier)
                        {
                            <div class="overlap" onclick="location.href = '../_@Model.SequenceString';"></div>
                        }
                    </div>
                    <label asp-for="UsernamePhoneIdentifier.UserIdentifier" id="showUsernamePhone" class="label-control"></label>
                    <span asp-validation-for="UsernamePhoneIdentifier.UserIdentifier"></span>
                    @if (!Model.DisableChangeUserIdentifier)
                    {
                        <a href="../_@Model.SequenceString" class="btn btn-link btn-xs">@Localizer["Change username or phone"]</a>
                    }
                </div>
            }
            else if (Model.PhoneEmailIdentifier != null)
            {
                <input type="hidden" asp-for="PhoneEmailIdentifier.UserIdentifier" autocomplete="off" />
                <div class="form-group active-group active">
                    <div class="base-for-overlap">
                        <input asp-for="PhoneEmailIdentifier.UserIdentifier" id="showPhoneEmail" disabled autocomplete="off" class="form-control input-control bg-light" />
                        @if (!Model.DisableChangeUserIdentifier)
                        {
                            <div class="overlap" onclick="location.href = '../_@Model.SequenceString';"></div>
                        }
                    </div>
                    <label asp-for="PhoneEmailIdentifier.UserIdentifier" id="showPhoneEmail" class="label-control"></label>
                    <span asp-validation-for="PhoneEmailIdentifier.UserIdentifier"></span>
                    @if (!Model.DisableChangeUserIdentifier)
                    {
                        <a href="../_@Model.SequenceString" class="btn btn-link btn-xs">@Localizer["Change phone or email"]</a>
                    }
                </div>
            }
            else if (Model.UsernamePhoneEmailIdentifier != null)
            {
                <input type="hidden" asp-for="UsernamePhoneEmailIdentifier.UserIdentifier" autocomplete="off" />
                <div class="form-group active-group active">
                    <div class="base-for-overlap">
                        <input asp-for="UsernamePhoneEmailIdentifier.UserIdentifier" id="showUsernamePhoneEmail" disabled autocomplete="off" class="form-control input-control bg-light" />
                        @if (!Model.DisableChangeUserIdentifier)
                        {
                            <div class="overlap" onclick="location.href = '../_@Model.SequenceString';"></div>
                        }
                    </div>
                    <label asp-for="UsernamePhoneEmailIdentifier.UserIdentifier" id="showUsernamePhoneEmail" class="label-control"></label>
                    <span asp-validation-for="UsernamePhoneEmailIdentifier.UserIdentifier"></span>
                    @if (!Model.DisableChangeUserIdentifier)
                    {
                        <a href="../_@Model.SequenceString" class="btn btn-link btn-xs">@Localizer["Change username or phone or email"]</a>
                    }
                </div>
            }   
            <div class="form-group active-group">
                <input asp-for="Password" autocomplete="current-password" class="form-control input-control" autofocus />
                <label asp-for="Password" class="label-control"></label>
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group button-group">
                <input type="submit" value="@Localizer["Log in"]" class="btn btn-primary" />
                @if (Model.EnableCancelLogin)
                {
                    <a href="../@Constants.Endpoints.CancelLogin/_@Model.SequenceString" class="btn btn-light">@Localizer["Cancel"]</a>
                }
                @if (Model.EnableResetPassword)
                {
                    <a href="../../@Constants.Routes.ActionController/@Constants.Endpoints.ResetPassword/_@Model.SequenceString" class="btn btn-link float-right forgot-password">@Localizer["Forgot your password?"]</a>
                }
            </div>
            @if (Model.EnableCreateUser)
            {
                <div class="form-group create-user-group">
                    @Localizer["Don't have an account?"]
                    <a href="../@Constants.Endpoints.CreateUser/_@Model.SequenceString" class="link create-user">@Localizer["Create user"]</a>
                </div>
            }
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
