@inherits DownPartyBase

@{
    var samlDownParty = DownParty as GeneralSamlDownPartyViewModel;
}

<PageEditForm @ref="samlDownParty.Form" TModel="SamlDownPartyViewModel" OnAfterInit="@(m => SamlDownPartyViewModelAfterInit(samlDownParty, m))" OnValidSubmit="@(async (editContext) => await OnEditSamlDownPartyValidSubmitAsync(samlDownParty, editContext))">
    <div class="modal-header">
        <div>
            SAML 2.0
        </div>
        <button type="button" class="btn btn-link btn-xs" @onclick="@(() => DownParty.ShowAdvanced = !DownParty.ShowAdvanced)">@(DownParty.ShowAdvanced ? "Hide" : "Show") advanced settings</button>
    </div>
    <div class="modal-body">
        @if (samlDownParty.CreateMode)
        {
            <FInputText @bind-Value="samlDownParty.Form.Model.Name" For="@(() => samlDownParty.Form.Model.Name)" Focus="true" />
        }
        else
        {
            <FFieldText @bind-Value="samlDownParty.Form.Model.Name" For="@(() => samlDownParty.Form.Model.Name)" />
        }
        @if (samlDownParty.ShowAdvanced)
        {
            <FInputText @bind-Value="samlDownParty.Form.Model.Note" For="@(() => samlDownParty.Form.Model.Note)" />
        }

        <div class="mb-3 alert alert-info" role="alert">
            <i>SAML 2.0 Metadata selecting all up-parties with '*'. You can alternatively select a up-party by name e.g., 'login' or up to 4 up-party divided by comma e.g., 'login,xx,yy,xx'.</i>
            @{ var samlMetadata = @GetSamlMetadata(samlDownParty.Form.Model.Name, samlDownParty.Form.Model.PartyBindingPattern); }
            <div>SAML 2.0 Metadata: <FTextLinkClipboard Text="@samlMetadata" /></div>
        </div>

        @if (DownParty.ShowAdvanced)
        {
            <FInputSelect @bind-Value="samlDownParty.Form.Model.PartyBindingPattern" For="@(() => samlDownParty.Form.Model.PartyBindingPattern)">
                <option value="@PartyBindingPatterns.Brackets">Brackets pattern .../down-party(up-party)/... - default</option>
                <option value="@PartyBindingPatterns.Tildes">Tildes pattern .../down-party~up-party~/...</option>
                <option value="@PartyBindingPatterns.Dot">Dot pattern .../down-party.up-party./...</option>
            </FInputSelect>
        }

        <ul class="nav nav-tabs">
            <li class="nav-item">
                @if (samlDownParty.ShowSamlTab)
                {
                    <a class="nav-link active">SAML</a>
                }
                else
                {
                    <button type="button" class="btn btn-link nav-link" @onclick="@(() => ShowSamlTab(samlDownParty, SamlTabTypes.Saml))">SAML</button>
                }
            </li>
            <li class="nav-item">
                @if (samlDownParty.ShowClaimTransformTab)
                {
                    <a class="nav-link active">Claim transform</a>
                }
                else
                {
                    <button type="button" class="btn btn-link nav-link" @onclick="@(() => ShowSamlTab(samlDownParty, SamlTabTypes.ClaimsTransform))">Claim transform</button>
                }
            </li>
        </ul>

        <div class="tab-content pt-3">
            @if (samlDownParty.ShowSamlTab)
            {
                <SelectUpParty @ref="samlDownParty.SelectAllowUpPartyName" EditDownPartyForm="samlDownParty.Form" TModel="SamlDownPartyViewModel" OnAddUpPartyName="AddAllowUpPartyName" OnRemoveUpPartyName="RemoveAllowUpPartyName" />
                <FInputText @bind-Value="samlDownParty.Form.Model.Issuer" For="@(() => samlDownParty.Form.Model.Issuer)" />
                <FInputTextList @bind-ValueList="samlDownParty.Form.Model.AcsUrls" For="@(() => samlDownParty.Form.Model.AcsUrls)" />
                <div class="row active-group-outline">
                    <div class="col">
                        <div class="form-group active-group">
                            <FInputSelect @bind-Value="samlDownParty.Form.Model.AuthnRequestBinding" For="@(() => samlDownParty.Form.Model.AuthnRequestBinding)" IncludeActiveFormGroup="false">
                                <option value="@SamlBindingTypes.Redirect">@SamlBindingTypes.Redirect</option>
                                <option value="@SamlBindingTypes.Post">@SamlBindingTypes.Post</option>
                            </FInputSelect>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group active-group">
                            <FInputSelect @bind-Value="samlDownParty.Form.Model.AuthnResponseBinding" For="@(() => samlDownParty.Form.Model.AuthnResponseBinding)" IncludeActiveFormGroup="false">
                                <option value="@SamlBindingTypes.Redirect">@SamlBindingTypes.Redirect</option>
                                <option value="@SamlBindingTypes.Post">@SamlBindingTypes.Post</option>
                            </FInputSelect>
                        </div>
                    </div>
                </div>
                @if (samlDownParty.ShowAdvanced)
                {
                    <FInputToggle @bind-Value="samlDownParty.Form.Model.EncryptAuthnResponse" For="@(() => samlDownParty.Form.Model.EncryptAuthnResponse)" TextType="y.n" />
                    @if (samlDownParty.Form.Model.EncryptAuthnResponse)
                    {
                        <div class="form-group active-group active">
                            <div class="drag-drop-zone input-control">
                                <BlazorInputFile.InputFile multiple OnChange="@(async (files) => await OnSamlDownPartyEncryptionCertificateFileSelectedAsync(samlDownParty, files))" />
                                @samlDownParty.EncryptionCertificateFileStatus
                            </div>
                            <Label For="@(() => samlDownParty.Form.Model.EncryptionKey)" class="label-control" />
                            <ValidationMessage For="@(() => samlDownParty.Form.Model.EncryptionKey)" />
                            <ul class="list-group">
                                @if (samlDownParty.EncryptionKeyInfo != null)
                                {
                                    <li class="list-group-item">
                                        <div class="d-flex">
                                            <div class="mr-auto p-2">
                                                <strong>@samlDownParty.EncryptionKeyInfo.Subject</strong><br />
                                                Valid from @samlDownParty.EncryptionKeyInfo.ValidFrom.ToShortDateString() to @samlDownParty.EncryptionKeyInfo.ValidTo.ToShortDateString()<br />
                                                Thumbprint: @samlDownParty.EncryptionKeyInfo.Thumbprint
                                            </div>
                                            <div class="p-2">
                                                <button type="button" class="btn btn-link" title="Remove" @onclick="@(() => RemoveSamlDownPartyEncryptionCertificate(samlDownParty, samlDownParty.EncryptionKeyInfo))"><span class="oi oi-delete" aria-hidden="true"></span></button>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                    <FInputText @bind-Value="samlDownParty.Form.Model.NameIdFormat" For="@(() => samlDownParty.Form.Model.NameIdFormat)" />
                }

                <FInputText @bind-Value="samlDownParty.Form.Model.LoggedOutUrl" For="@(() => samlDownParty.Form.Model.LoggedOutUrl)" />
                <FInputText @bind-Value="samlDownParty.Form.Model.SingleLogoutUrl" For="@(() => samlDownParty.Form.Model.SingleLogoutUrl)" />
                <div class="row active-group-outline">
                    <div class="col">
                        <div class="form-group active-group">
                            <FInputSelect @bind-Value="samlDownParty.Form.Model.LogoutRequestBinding" For="@(() => samlDownParty.Form.Model.LogoutRequestBinding)" IncludeActiveFormGroup="false">
                                <option value="@SamlBindingTypes.Redirect">@SamlBindingTypes.Redirect</option>
                                <option value="@SamlBindingTypes.Post">@SamlBindingTypes.Post</option>
                            </FInputSelect>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group active-group">
                            <FInputSelect @bind-Value="samlDownParty.Form.Model.LogoutResponseBinding" For="@(() => samlDownParty.Form.Model.LogoutResponseBinding)" IncludeActiveFormGroup="false">
                                <option value="@SamlBindingTypes.Redirect">@SamlBindingTypes.Redirect</option>
                                <option value="@SamlBindingTypes.Post">@SamlBindingTypes.Post</option>
                            </FInputSelect>
                        </div>
                    </div>
                </div>
                <FInputTextList @bind-ValueList="samlDownParty.Form.Model.Claims" For="@(() => samlDownParty.Form.Model.Claims)" DynamicFirstRow="true" />
                <div class="form-group active-group active">
                    <div class="drag-drop-zone input-control">
                        <BlazorInputFile.InputFile multiple OnChange="@(async (files) => await OnSamlDownPartyCertificateFileSelectedAsync(samlDownParty, files))" />
                        @samlDownParty.CertificateFileStatus
                    </div>
                    <Label For="@(() => samlDownParty.Form.Model.Keys)" class="label-control" />
                    <ValidationMessage For="@(() => samlDownParty.Form.Model.Keys)" />
                    <ul class="list-group">
                        @foreach (var keyInfo in samlDownParty.KeyInfoList)
                        {
                            <li class="list-group-item">
                                <div class="d-flex">
                                    <div class="mr-auto p-2">
                                        <strong>@keyInfo.Subject</strong><br />
                                        Valid from @keyInfo.ValidFrom.ToShortDateString() to @keyInfo.ValidTo.ToShortDateString()<br />
                                        Thumbprint: @keyInfo.Thumbprint
                                    </div>
                                    <div class="p-2">
                                        <button type="button" class="btn btn-link" title="Remove" @onclick="@(() => RemoveSamlDownPartyCertificate(samlDownParty, keyInfo))"><span class="oi oi-delete" aria-hidden="true"></span></button>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                @if (DownParty.ShowAdvanced)
                {
                    <FInputSelect @bind-Value="samlDownParty.Form.Model.SignatureAlgorithm" For="@(() => samlDownParty.Form.Model.SignatureAlgorithm)">
                        <option value="@Saml2SecurityAlgorithms.RsaSha1Signature">RSA-SHA-1</option>
                        <option value="@Saml2SecurityAlgorithms.RsaSha256Signature">RSA-SHA-256</option>
                        <option value="@Saml2SecurityAlgorithms.RsaSha384Signature">RSA-SHA-384</option>
                        <option value="@Saml2SecurityAlgorithms.RsaSha512Signature">RSA-SHA-512</option>
                    </FInputSelect>
                    <FInputSelect @bind-Value="samlDownParty.Form.Model.CertificateValidationMode" For="@(() => samlDownParty.Form.Model.CertificateValidationMode)">
                        <option value="@X509CertificateValidationMode.None">None</option>
                        <option value="@X509CertificateValidationMode.ChainTrust">Chain trust</option>
                        <option value="@X509CertificateValidationMode.PeerTrust">Peer trust</option>
                        <option value="@X509CertificateValidationMode.PeerOrChainTrust">Peer or chain trust</option>
                    </FInputSelect>
                    <FInputSelect @bind-Value="samlDownParty.Form.Model.RevocationMode" For="@(() => samlDownParty.Form.Model.RevocationMode)">
                        <option value="@X509RevocationMode.NoCheck">No check</option>
                        <option value="@X509RevocationMode.Offline">Offline</option>
                        <option value="@X509RevocationMode.Online">Online</option>
                    </FInputSelect>
                    <FInputText @bind-Value="samlDownParty.Form.Model.IdPIssuer" For="@(() => samlDownParty.Form.Model.IdPIssuer)" />
                    <FInputNumber @bind-Value="samlDownParty.Form.Model.SubjectConfirmationLifetime" For="@(() => samlDownParty.Form.Model.SubjectConfirmationLifetime)" />
                    <FInputNumber @bind-Value="samlDownParty.Form.Model.IssuedTokenLifetime" For="@(() => samlDownParty.Form.Model.IssuedTokenLifetime)" />
                    <FInputToggle @bind-Value="samlDownParty.Form.Model.MetadataAddLogoutResponseLocation" For="@(() => samlDownParty.Form.Model.MetadataAddLogoutResponseLocation)" TextType="y.n" />
                    <FInputToggle @bind-Value="samlDownParty.Form.Model.SignMetadata" For="@(() => samlDownParty.Form.Model.SignMetadata)" TextType="y.n" />
                    <FInputToggle @bind-Value="samlDownParty.Form.Model.MetadataIncludeEncryptionCertificates" For="@(() => samlDownParty.Form.Model.MetadataIncludeEncryptionCertificates)" TextType="y.n" />
                    <FInputTextList @bind-ValueList="samlDownParty.Form.Model.MetadataNameIdFormats" For="@(() => samlDownParty.Form.Model.MetadataNameIdFormats)" DynamicFirstRow="true" />
                    <SamlMetadataContactPersons Model="samlDownParty.Form.Model" />
                }
            }
            else if (samlDownParty.ShowClaimTransformTab)
            {
                <div class="mb-3 alert alert-info" role="alert">
                    If you create a new claim the claim is local unless you add the claim to the 'Issue claims' list.
                </div>
                <SamlClaimTransforms Model="samlDownParty.Form.Model" />
            }
        </div>
    </div>
    @if (!DownParty.CreateMode && DownParty.DeleteAcknowledge)
    {
        <div class="modal-footer">
            <div class="alert alert-danger" role="alert">
                <div>
                    You are about to delete SAML 2.0 Down-party "@DownParty.Name", are you sure?
                </div>

                <div class="mt-3">
                    <button type="button" class="btn btn-secondary" @onclick="@(async () => await DeleteSamlDownPartyAsync(samlDownParty))">Yes delete</button>
                    <button type="button" class="btn btn-secondary" @onclick="@(() => DownParty.DeleteAcknowledge = false)">No</button>
                </div>
            </div>
        </div>
    }
    <div class="modal-footer">
        <button type="button" class="btn btn-link btn-xs" @onclick="@(() => DownParty.ShowAdvanced = !DownParty.ShowAdvanced)">@(DownParty.ShowAdvanced ? "Hide" : "Show") advanced settings</button>
        @if (!DownParty.CreateMode)
        {
            <button type="button" class="btn btn-link" @onclick="@(() => DownParty.DeleteAcknowledge = true)">Delete</button>
        }
        <button type="submit" class="btn btn-primary">@(@DownParty.CreateMode ? "Create" : "Update")</button>
        <button type="button" class="btn btn-secondary" @onclick="@(() => DownPartyCancelAsync(DownParty))">@(@DownParty.CreateMode ? "Cancel" : "Close")</button>
    </div>
</PageEditForm>