@inherits UpPartyBase

@{
    var trackLinkUpParty = UpParty as GeneralTrackLinkUpPartyViewModel;
}

<PageEditForm @ref="trackLinkUpParty.Form" TModel="TrackLinkUpPartyViewModel" OnAfterInit="@(async (model) => await TrackLinkUpPartyViewModelAfterInitAsync(model))" OnValidSubmit="@(async (editContext) => await OnEditTrackLinkUpPartyValidSubmitAsync(trackLinkUpParty, editContext))">
    <div class="modal-header sticky-header">
        <div class="h5 d-flex flex-nowrap align-items-center mb-0 hide-owerflow">
            <span class="text-nowrap first-header">Environment Link</span>
            <span class="ml-2 text-muted text-truncate second-header">@GetUpPartyDisplayName(trackLinkUpParty.Form.Model)</span>
        </div>
        <FInputSwitchAdvancedOptions @bind-Value="UpParty.ShowAdvanced" />
    </div>
    <div class="modal-body">
        <FInputText @bind-Value="trackLinkUpParty.Form.Model.DisplayName" For="@(() => trackLinkUpParty.Form.Model.DisplayName)" />
        @if (trackLinkUpParty.ShowAdvanced)
        {
            <FFieldText @bind-Value="trackLinkUpParty.Form.Model.Name" For="@(() => trackLinkUpParty.Form.Model.Name)" />
        }
        @if (trackLinkUpParty.ShowAdvanced)
        {
            <FInputText @bind-Value="trackLinkUpParty.Form.Model.Note" For="@(() => trackLinkUpParty.Form.Model.Note)" />
        }

        @if (trackLinkUpParty.ShowAdvanced)
        {
            <FInputToggle @bind-Value="trackLinkUpParty.Form.Model.DisableSingleLogout" For="@(() => trackLinkUpParty.Form.Model.DisableSingleLogout)" Negation="true" TextType="e.d" />
        }

        <div class="mb-3 alert alert-info" role="alert">
            <div>Please add a corresponding authentication method environment link in the environment you want to connect to.</div>
        </div>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                @if (trackLinkUpParty.ShowTrackLinkTab)
                {
                    <a class="nav-link active">Environment Link</a>
                }
                else
                {
                    <button type="button" class="btn btn-link nav-link" @onclick="@(() => ShowTrackLinkTab(trackLinkUpParty, TrackLinkTabTypes.TrackLink))">Environment Link</button>
                }
            </li>
            <li class="nav-item">
                @if (trackLinkUpParty.ShowClaimTransformTab)
                {
                    <a class="nav-link active">Claim Transforms</a>
                }
                else
                {
                    <button type="button" class="btn btn-link nav-link" @onclick="@(() => ShowTrackLinkTab(trackLinkUpParty, TrackLinkTabTypes.ClaimsTransform))">Claim Transforms</button>
                }
            </li>
            <li class="nav-item">
                @if (trackLinkUpParty.ShowExtendedUiTab)
                {
                    <a class="nav-link active">Extended UI</a>
                }
                else
                {
                    <button type="button" class="btn btn-link nav-link" @onclick="@(() => ShowTrackLinkTab(trackLinkUpParty, TrackLinkTabTypes.ExtendedUi))">Extended UI</button>
                }
            </li>
            <li class="nav-item">
                @if (trackLinkUpParty.ShowLinkExternalUserTab)
                {
                    <a class="nav-link active">Create Users</a>
                }
                else
                {
                    <button type="button" class="btn btn-link nav-link" @onclick="@(() => ShowTrackLinkTab(trackLinkUpParty, TrackLinkTabTypes.LinkExternalUser))">Create Users</button>
                }
            </li>
            <li class="nav-item">
                @if (trackLinkUpParty.ShowHrdTab)
                {
                    <a class="nav-link active">HRD</a>
                }
                else
                {
                    <button type="button" class="btn btn-link nav-link" @onclick="@(() => ShowTrackLinkTab(trackLinkUpParty, TrackLinkTabTypes.Hrd))">HRD</button>
                }
            </li>
            @if (trackLinkUpParty.ShowAdvanced)
            {
                <li class="nav-item">
                    @if (trackLinkUpParty.ShowProfileTab)
                    {
                        <a class="nav-link active">Profiles</a>
                    }
                    else
                    {
                        <button type="button" class="btn btn-link nav-link" @onclick="@(() => ShowTrackLinkTab(trackLinkUpParty, TrackLinkTabTypes.Profile))">Profiles</button>
                    }
                </li>
                <li class="nav-item">
                    @if (trackLinkUpParty.ShowSessionTab)
                    {
                        <a class="nav-link active">Logout Session</a>
                    }
                    else
                    {
                        <button type="button" class="btn btn-link nav-link" @onclick="@(() => ShowTrackLinkTab(trackLinkUpParty, TrackLinkTabTypes.Session))">Logout Session</button>
                    }
                </li>
            }
        </ul>

        <div class="tab-content pt-3">
            @if (trackLinkUpParty.ShowTrackLinkTab)
            {
                @if (trackLinkUpParty.Form.Model.ToDownTrackDisplayName.IsNullOrWhiteSpace())
                {
                    <FFieldText @bind-Value="trackLinkUpParty.Form.Model.ToDownTrackName" For="@(() => trackLinkUpParty.Form.Model.ToDownTrackName)" />
                }
                else
                {
                    <FFieldText @bind-Value="trackLinkUpParty.Form.Model.ToDownTrackDisplayName" For="@(() => trackLinkUpParty.Form.Model.ToDownTrackDisplayName)" />
                }
                @if (trackLinkUpParty.Form.Model.ToDownPartyDisplayName.IsNullOrWhiteSpace())
                {
                    <FFieldText @bind-Value="trackLinkUpParty.Form.Model.ToDownPartyName" For="@(() => trackLinkUpParty.Form.Model.ToDownPartyName)" />
                }
                else
                {
                    <FFieldText @bind-Value="trackLinkUpParty.Form.Model.ToDownPartyDisplayName" For="@(() => trackLinkUpParty.Form.Model.ToDownPartyDisplayName)" />
                }
                <FInputTextList @bind-ValueList="trackLinkUpParty.Form.Model.SelectedUpParties" For="@(() => trackLinkUpParty.Form.Model.SelectedUpParties)" />
                @if (trackLinkUpParty.ShowAdvanced)
                {
                    <FInputTextList @bind-ValueList="trackLinkUpParty.Form.Model.Claims" For="@(() => trackLinkUpParty.Form.Model.Claims)" DynamicFirstRow="true" />
                }
                <FInputToggle @bind-Value="trackLinkUpParty.Form.Model.PipeExternalId" For="@(() => trackLinkUpParty.Form.Model.PipeExternalId)" TextType="y.n" />
            }
            else if (trackLinkUpParty.ShowClaimTransformTab)
            {
                <div class="active-group active">
                    <div class="card">
                        <div class="card-body">
                            <div class="info-text" role="alert">
                                The first-level claim transforms is executed after the user has logged in and before the optional extended UI and the optional external users is created or loaded.
                            </div>
                            <OAuthClaimTransforms ClaimTransforms="trackLinkUpParty.Form.Model.ClaimTransforms" />
                        </div>
                    </div>
                    <label class="label-control">First-level claim transforms</label>
                </div>
                <div class="active-group active">
                    <div class="card">
                        <div class="card-body">
                            <div class="info-text" role="alert">
                                The second-level claim transforms is executed after the optional extended UI and the optional external users claims have been included in the claim collection.
                            </div>
                            <OAuthClaimTransforms ClaimTransforms="trackLinkUpParty.Form.Model.ExitClaimTransforms" />
                        </div>
                    </div>
                    <label class="label-control">Second-level claim transforms</label>
                </div>
                <div class="alert alert-info" role="alert">
                    If you create a new claim in the claim transforms the claim is local in this authentication method unless you add the claim or '*' (default) to the 'Forward claims' list.
                    In the application registration you need to add the claim or '*' to the 'Issue claims' list or alternative add the claim to a scopes 'Voluntary claims' list.
                </div>
            }
            else if (trackLinkUpParty.ShowExtendedUiTab)
            {
                @if (trackLinkUpParty.Form.Model.ExtendedUis != null)
                {
                    <ExtendedUi Model="trackLinkUpParty.Form.Model.ExtendedUis" />
                }
            }
            else if (trackLinkUpParty.ShowLinkExternalUserTab)
            {
                @if (trackLinkUpParty.Form.Model.LinkExternalUser != null)
                {
                    <LinkExternalUser Model="trackLinkUpParty.Form.Model.LinkExternalUser" />
                }
            }
            else if (trackLinkUpParty.ShowHrdTab)
            {
                <UpPartyHrd Model="trackLinkUpParty.Form.Model" />
            }
            else if (trackLinkUpParty.ShowProfileTab)
            {
                <div class="form-group active-group active">
                    <Label For="@(() => trackLinkUpParty.Form.Model.Profiles)" class="label-control" />
                    @if (trackLinkUpParty.Form.Model.Profiles.Count() <= 0)
                    {
                        <div class="card">
                            <div class="card-body">
                            </div>
                        </div>
                    }
                    <ul class="list-group">
                        @foreach (var profile in trackLinkUpParty.Form.Model.Profiles)
                        {
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-11">
                                        <FInputText @bind-Value="profile.DisplayName" For="@(() => profile.DisplayName)" />
                                        <FInputText @bind-Value="profile.Name" For="@(() => profile.Name)" />
                                        <FInputTextList @bind-ValueList="profile.SelectedUpParties" For="@(() => profile.SelectedUpParties)" />
                                    </div>
                                    <div class="col-1 text-right">
                                        <button type="button" class="btn btn-link px-0" title="Remove" @onclick="@(e => RemoveProfile(e, trackLinkUpParty.Form.Model.Profiles, profile))"><span class="oi oi-circle-x" aria-hidden="true"></span></button>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    <ValidationMessage For="@(() => trackLinkUpParty.Form.Model.Profiles)" />
                    <button type="button" class="btn btn-link btn-xs" @onclick="@(e => AddProfile(e,  trackLinkUpParty.Form.Model.Profiles))"><span class="oi oi-plus" aria-hidden="true"></span> Add Profile</button>
                </div>
            }
            else if (trackLinkUpParty.ShowSessionTab)
            {
                <UpPartySessionLifetime Model="trackLinkUpParty.Form.Model" />
            }
        </div>
    </div>
    @if (!UpParty.CreateMode && UpParty.DeleteAcknowledge)
    {
        <div class="modal-footer">
            <div class="alert alert-danger" role="alert">
                <div>
                    You are about to delete Environment Link authentication method "@(UpParty.DisplayName ?? UpParty.Name)", are you sure?
                </div>

                <div class="mt-3">
                    <button type="button" class="btn btn-secondary" @onclick="@(async () => await DeleteTrackLinkUpPartyAsync(trackLinkUpParty))">Yes delete</button>
                    <button type="button" class="btn btn-secondary" @onclick="@(() => UpParty.DeleteAcknowledge = false)">No</button>
                </div>
            </div>
        </div>
    }
    <div class="modal-footer">
        @if (!UpParty.CreateMode)
        {
            <button type="button" class="btn btn-link" @onclick="@(() => UpParty.DeleteAcknowledge = true)">Delete</button>
            <button type="button" class="btn btn-outline-dark" @onclick="@(async () => await OnTestUpParty.InvokeAsync(trackLinkUpParty))">
                Test authentication
            </button>
        }
        <button type="submit" class="btn btn-primary">@(@UpParty.CreateMode ? "Create" : "Update")</button>
        <button type="button" class="btn btn-secondary" @onclick="@(() => UpPartyCancelAsync(UpParty))">@(@UpParty.CreateMode ? "Cancel" : "Close")</button>
    </div>
</PageEditForm>











