@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ErrorViewModel

@{
    ViewData["Title"] = Localizer["Error"];
}

@if (Model.ShowErrorTitle)
{
    <h2 class="text-danger">@Model.ErrorTitle</h2>
}
else
{
    <h2 class="text-danger">@ViewData["Title"]</h2>
}

<p>
    @if (Model.ShowError)
    {
        <h4 class="text-danger">@Model.Error</h4>
    }
    else
    {
        <h4 class="text-danger">@Localizer["An error has occurred. Please try again."]</h4>
    }
</p>

<p>
    Tid: <code>@Model.CreateTime</code><br />
    Request ID: <code>@Model.RequestId</code>
</p>