@inherits FInputBase<string>

<div class="form-group active-group">
    <div class="input-group">
        <input @ref="inputElement" type="@(showPassword ? "text" : "password")" @bind="@CurrentValue" class="form-control input-control" />
        <Label For="@For" LabelText="@LabelText" class="label-control" />
        <div class="input-group-append">
            <button type="button" class="btn btn-info" @onclick="@(() => showPassword = !showPassword)"><span class="oi oi-eye" aria-hidden="true"></span></button>
        </div>
    </div>
    <ValidationMessage For="@For" />
</div>

@code {
    private bool showPassword = false;

    [Parameter]
    public string LabelText { get; set; }
}