<div class="form-group active-group active">
    <Label For="@(() => Model.ClaimTransforms)" class="label-control" />
    <ul class="list-group">
        @foreach (var claimTransform in Model.ClaimTransforms)
        {
            var claimTransformClaimIn = claimTransform as OAuthClaimTransformClaimInViewModel;
            <li class="list-group-item">
                <div class="row">
                    <div class="col-9">
                        @switch (claimTransform.Type)
                        {
                            case ClaimTransformTypes.Constant:
                                <div class="p-0 alert alert-light font-weight-bold small" role="alert">Constant</div>
                                break;

                            case ClaimTransformTypes.MatchClaim:
                                <div class="p-0 alert alert-light font-weight-bold small" role="alert">Match claim</div>
                                break;

                            case ClaimTransformTypes.Match:
                                <div class="p-0 alert alert-light font-weight-bold small" role="alert">Match claim and value</div>
                                break;

                            case ClaimTransformTypes.RegexMatch:
                                <div class="p-0 alert alert-light font-weight-bold small" role="alert">Regex match</div>
                                break;

                            case ClaimTransformTypes.Map:
                                <div class="p-0 alert alert-light font-weight-bold small" role="alert">Map</div>
                                break;

                            case ClaimTransformTypes.RegexMap:
                                <div class="p-0 alert alert-light font-weight-bold small" role="alert">Regex map</div>
                                break;

                            case ClaimTransformTypes.Concatenate:
                                <div class="p-0 alert alert-light font-weight-bold small" role="alert">Concatenate</div>
                                break;
                            
                            case ClaimTransformTypes.DkPrivilege:
                                <div class="p-0 alert alert-light font-weight-bold small" role="alert">DK privilege</div>
                                break;

                            default:
                                throw new NotSupportedException($"Claim transform type '{claimTransform.Type}' not supported.");
                        }
                    </div>
                    <div class="col-2">
                        @if (Model.ClaimTransforms.IndexOf(claimTransform) > 0)
                        {
                            <button type="button" class="btn btn-link p-0" title="Move up" @onclick="@(() => MoveUp(claimTransform))"><span class="oi oi-caret-top" aria-hidden="true"></span></button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-link p-0 disabled"><span class="oi oi-caret-top" aria-hidden="true"></span></button>
                        }
                        @if (Model.ClaimTransforms.IndexOf(claimTransform) < Model.ClaimTransforms.Count() - 1)
                        {
                            <button type="button" class="btn btn-link p-0" title="Move down" @onclick="@(() => MoveDown(claimTransform))"><span class="oi oi-caret-bottom" aria-hidden="true"></span></button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-link p-0 disabled"><span class="oi oi-caret-bottom" aria-hidden="true"></span></button>
                        }
                    </div>
                    <div class="col-1 text-right">
                        <button type="button" class="btn btn-link px-0" title="Remove" @onclick="@(() => RemoveClaimTransform(claimTransform))"><span class="oi oi-circle-x" aria-hidden="true"></span></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-11">
                        @if (claimTransform.Action != ClaimTransformActions.Remove)
                        {
                            <FInputText @bind-Value="claimTransform.ClaimOut" For="@(() => claimTransform.ClaimOut)" LabelText="New claim" />
                        }
                        else
                        {
                            <FInputText @bind-Value="claimTransform.ClaimOut" For="@(() => claimTransform.ClaimOut)" LabelText="Remove claim" />
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-11">
                        @if (claimTransform.Type == ClaimTransformTypes.MatchClaim || claimTransform.Type == ClaimTransformTypes.Match || claimTransform.Type == ClaimTransformTypes.RegexMatch)
                        {
                            <FInputSelect @bind-Value="claimTransform.Action" For="@(() => claimTransform.Action)">
                                <option value="@ClaimTransformActions.Add">Add claim</option>
                                <option value="@ClaimTransformActions.AddIfNot">Add claim, if not match</option>
                                <option value="@ClaimTransformActions.Replace">Replace claim</option>
                                <option value="@ClaimTransformActions.ReplaceIfNot">Replace claim, if not match</option>
                                <option value="@ClaimTransformActions.Remove">Remove claim</option>
                            </FInputSelect>
                        }
                        else if (claimTransform.Type == ClaimTransformTypes.Map || claimTransform.Type == ClaimTransformTypes.RegexMap)
                        {
                            <FInputSelect @bind-Value="claimTransform.Action" For="@(() => claimTransform.Action)">
                                <option value="@ClaimTransformActions.Add">Add claim</option>
                                <option value="@ClaimTransformActions.Replace">Replace claim</option>
                                <option value="@ClaimTransformActions.AddIfNotOut">Add claim, if new claim do not exist</option>
                            </FInputSelect>
                        }
                        else
                        {
                            <FInputSelect @bind-Value="claimTransform.Action" For="@(() => claimTransform.Action)">
                                <option value="@ClaimTransformActions.Add">Add claim</option>
                                <option value="@ClaimTransformActions.Replace">Replace claim</option>
                            </FInputSelect>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-11">
                        @if (claimTransform.ShowDetails)
                        {
                            @switch (claimTransform.Type)
                            {
                                case ClaimTransformTypes.Constant:
                                    <div class="p-0 alert alert-light font-italic small" role="alert">Add a constant value.</div>
                                    <FInputText @bind-Value="claimTransform.Transformation" For="@(() => claimTransform.Transformation)" LabelText="Constant value" />
                                    break;

                                case ClaimTransformTypes.MatchClaim:
                                    @if (claimTransform.Action != ClaimTransformActions.Remove)
                                    {
                                        <div class="p-0 alert alert-light font-italic small" role="alert">Match the claim. Then add a new claim with the new value@(claimTransform.Action == ClaimTransformActions.AddIfNot || claimTransform.Action == ClaimTransformActions.ReplaceIfNot ? ", if the claim do not match" : string.Empty).</div>
                                        <FInputText @bind-Value="claimTransformClaimIn.ClaimIn" For="@(() => claimTransformClaimIn.ClaimIn)" />
                                        <FInputText @bind-Value="claimTransformClaimIn.Transformation" For="@(() => claimTransformClaimIn.Transformation)" LabelText="New value" />
                                    }
                                    else
                                    {
                                        <div class="p-0 alert alert-light font-italic small" role="alert">Match the claim that has to be removed.</div>
                                    }
                                    break;

                                case ClaimTransformTypes.Match:
                                    @if (claimTransform.Action != ClaimTransformActions.Remove)
                                    {
                                        <div class="p-0 alert alert-light font-italic small" role="alert">Match the claim and value. Then add a new claim with the new value@(claimTransform.Action == ClaimTransformActions.AddIfNot || claimTransform.Action == ClaimTransformActions.ReplaceIfNot ? ", if the claim match but the value do not match" : string.Empty).</div>
                                        <FInputText @bind-Value="claimTransformClaimIn.ClaimIn" For="@(() => claimTransformClaimIn.ClaimIn)" />
                                        <FInputText @bind-Value="claimTransformClaimIn.Transformation" For="@(() => claimTransformClaimIn.Transformation)" LabelText="Match value" />
                                        <FInputText @bind-Value="claimTransformClaimIn.TransformationExtension" For="@(() => claimTransformClaimIn.TransformationExtension)" LabelText="New value" />
                                    }
                                    else
                                    {
                                        <div class="p-0 alert alert-light font-italic small" role="alert">Match the claim and value of the claim that has to be removed.</div>
                                        <FInputText @bind-Value="claimTransform.Transformation" For="@(() => claimTransformClaimIn.Transformation)" LabelText="Match value" />
                                    }
                                    break;

                                case ClaimTransformTypes.RegexMatch:
                                    @if (claimTransform.Action != ClaimTransformActions.Remove)
                                    {
                                        <div class="p-0 alert alert-light font-italic small" role="alert">Match the claim and match the value with regex. Then add a new claim with the new value@(claimTransform.Action == ClaimTransformActions.AddIfNot || claimTransform.Action == ClaimTransformActions.ReplaceIfNot ? ", if the claim match but the value do not match" : string.Empty). E.g. regex to match an email on domain @("@abc.com"): @(@"^\S+@abc.com$")</div>
                                        <FInputText @bind-Value="claimTransformClaimIn.ClaimIn" For="@(() => claimTransformClaimIn.ClaimIn)" />
                                        <FInputText @bind-Value="claimTransformClaimIn.Transformation" For="@(() => claimTransformClaimIn.Transformation)" LabelText="Regex value match" />
                                        <FInputText @bind-Value="claimTransformClaimIn.TransformationExtension" For="@(() => claimTransformClaimIn.TransformationExtension)" LabelText="New value" />
                                    }
                                    else
                                    {
                                        <div class="p-0 alert alert-light font-italic small" role="alert">Match the claim and match the value with regex of the claim that has to be removed. E.g. regex to match an email on domain @("@abc.com"): @(@"^\S+@abc.com$")</div>
                                        <FInputText @bind-Value="claimTransform.Transformation" For="@(() => claimTransformClaimIn.Transformation)" LabelText="Regex value match" />
                                    }
                                    break;

                                case ClaimTransformTypes.Map:
                                    <div class="p-0 alert alert-light font-italic small" role="alert">Map the value in the selected claim to a new claim@(claimTransform.Action == ClaimTransformActions.AddIfNotOut ? ", if the new claim do not exist" : string.Empty).</div>
                                    <FInputText @bind-Value="claimTransformClaimIn.ClaimIn" For="@(() => claimTransformClaimIn.ClaimIn)" />
                                    break;

                                case ClaimTransformTypes.RegexMap:
                                    <div class="p-0 alert alert-light font-italic small" role="alert">Map the value found with the regex group map to a new claim@(claimTransform.Action == ClaimTransformActions.AddIfNotOut ? ", if the new claim do not exist" : string.Empty). E.g. regex to find domain in email: @(@"^\S+@(?<map>\S+)$")</div>
                                    <FInputText @bind-Value="claimTransformClaimIn.ClaimIn" For="@(() => claimTransformClaimIn.ClaimIn)" />
                                    <FInputText @bind-Value="claimTransformClaimIn.Transformation" For="@(() => claimTransformClaimIn.Transformation)" LabelText="Map value in regex map group" />
                                    break;

                                case ClaimTransformTypes.Concatenate:
                                    <div class="p-0 alert alert-light font-italic small" role="alert">Concatenate values from claims to a new claim. If e.g. concatenating tree claims the format string require tree format elements e.g. like this: {0}-{1}.{2}</div>
                                    <div class="form-group active-group">
                                        <label class="label-control">Concatenate claims</label>
                                        <FInputTextList @bind-ValueList="claimTransform.ClaimsIn" For="@(() => claimTransform.ClaimsIn)" DynamicFirstRow="true" IncludeActiveFormGroup="false" />
                                    </div>
                                    <FInputText @bind-Value="claimTransform.Transformation" For="@(() => claimTransform.Transformation)" LabelText="Concatenate format string" />
                                    break;

                                case ClaimTransformTypes.DkPrivilege:
                                    <div class="p-0 alert alert-light font-italic small" role="alert"><a target="_blank" href="https://www.foxids.com/docs/claim-transform-dk-privilege">Transform DK privilege base64-decoded XML</a> claim into a list of new claims, one claim for each PrivilegeGroup XML element. The PrivilegeGroup XML element is transformed into a JSON object and serialized as a string.</div>
                                    <FInputText @bind-Value="claimTransformClaimIn.ClaimIn" For="@(() => claimTransformClaimIn.ClaimIn)" />
                                    break;

                                default:
                                    throw new NotSupportedException($"Claim transform type '{claimTransform.Type}' not supported.");
                            }
                        }
                        else
                        {
                            <div class="card">
                                <div class="card-body px-3 py-2">
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-1 text-right">
                        @if (claimTransform.ShowDetails)
                        {
                            <button type="button" class="btn btn-link p-0" title="Hide" @onclick="@(e => claimTransform.ShowDetails = false)"><span class="oi oi-collapse-up" aria-hidden="true"></span></button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-link p-0" title="Show" @onclick="@(e => claimTransform.ShowDetails = true)"><span class="oi oi-collapse-down" aria-hidden="true"></span></button>
                        }
                    </div>
                </div>
            </li>
        }
    </ul>
    <ValidationMessage For="@(() => Model.ClaimTransforms)" />
    <div class="btn-group" role="group">
        <button id="btnGroupCreateDownParty" type="button" class="btn btn-link btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="oi oi-plus" aria-hidden="true"></span> Add claim transform
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupCreateDownParty">
            <h6 class="dropdown-header">Actions: Add/Replace/If not/Remove</h6>
            <button class="dropdown-item btn btn-link" type="button" @onclick="@(() => AddClaimTransform(ClaimTransformTypes.MatchClaim))">Match claim</button>
            <button class="dropdown-item btn btn-link" type="button" @onclick="@(() => AddClaimTransform(ClaimTransformTypes.Match))">Match claim and value</button>
            <button class="dropdown-item btn btn-link" type="button" @onclick="@(() => AddClaimTransform(ClaimTransformTypes.RegexMatch))">Regex match</button>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Actions: Add/Replace/If not</h6>
            <button class="dropdown-item btn btn-link" type="button" @onclick="@(() => AddClaimTransform(ClaimTransformTypes.Map))">Map</button>
            <button class="dropdown-item btn btn-link" type="button" @onclick="@(() => AddClaimTransform(ClaimTransformTypes.RegexMap))">Regex map</button>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Actions: Add/Replace</h6>
            <button class="dropdown-item btn btn-link" type="button" @onclick="@(() => AddClaimTransform(ClaimTransformTypes.Constant))">Constant</button>
            <button class="dropdown-item btn btn-link" type="button" @onclick="@(() => AddClaimTransform(ClaimTransformTypes.Concatenate))">Concatenate</button>
            <button class="dropdown-item btn btn-link" type="button" @onclick="@(() => AddClaimTransform(ClaimTransformTypes.DkPrivilege))">DK XML privilege to JSON</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public IOAuthClaimTransformViewModel Model { get; set; }

    private void AddClaimTransform(ClaimTransformTypes claimTransformType)
    {
        switch (claimTransformType)
        {
            case ClaimTransformTypes.MatchClaim:
            case ClaimTransformTypes.Match:
            case ClaimTransformTypes.RegexMatch:
            case ClaimTransformTypes.Map:
            case ClaimTransformTypes.RegexMap:
                Model.ClaimTransforms.Add(new OAuthClaimTransformClaimInViewModel
                    {
                        ShowDetails = true,
                        Type = claimTransformType
                    });
                break;
            case ClaimTransformTypes.Constant:
                Model.ClaimTransforms.Add(new OAuthClaimTransformViewModel
                    {
                        ShowDetails = true,
                        Type = claimTransformType
                    });
                break;
            case ClaimTransformTypes.Concatenate:
                Model.ClaimTransforms.Add(new OAuthClaimTransformViewModel
                    {
                        ClaimsIn = new List<string> { string.Empty },
                        ShowDetails = true,
                        Type = claimTransformType
                    });
                break;
            case ClaimTransformTypes.DkPrivilege:
                Model.ClaimTransforms.Add(new OAuthClaimTransformClaimInViewModel
                    {
                        ClaimIn = "privileges_intermediate",
                        ClaimOut = "privilege",
                        ShowDetails = true,
                        Type = claimTransformType
                    });
                break;

            default:
                throw new NotSupportedException("Claim transform type not supported.");
        }
    }

    private void RemoveClaimTransform(OAuthClaimTransformViewModel claimTransform)
    {
        Model.ClaimTransforms.Remove(claimTransform);
    }

    private void MoveUp(OAuthClaimTransformViewModel claimTransform)
    {
        var index = Model.ClaimTransforms.IndexOf(claimTransform);
        Model.ClaimTransforms.RemoveAt(index);
        Model.ClaimTransforms.Insert(--index, claimTransform);
        StateHasChanged();
    }

    private void MoveDown(OAuthClaimTransformViewModel claimTransform)
    {
        var index = Model.ClaimTransforms.IndexOf(claimTransform);
        Model.ClaimTransforms.RemoveAt(index);
        Model.ClaimTransforms.Insert(++index, claimTransform);
        StateHasChanged();
    }
}
