@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model RegisterTwoFactorAppViewModel

@{
    ViewData["Title"] = Localizer["Two-factor authentication (2FA)"];
}

<h1 class="heading">@ViewData["Title"]</h1>

<div class="row page-container name-reg-two-factor">
    <div class="col-md page-content">
        <form method="post">
            <input type="hidden" asp-for="QrCodeSetupImageUrl" autocomplete="off" />
            <input type="hidden" asp-for="ManualSetupKey" autocomplete="off" />

            <div class="info-message">
                @Localizer["Register two-factor authentication with an app of your choice."]
            </div>

            <div asp-validation-summary="ModelOnly"></div>
            <div class="info-message-sub">@Localizer["First, scan the QR code with your app."]</div>
            <div class="form-group active-group active">
                <img class="qr-code" src="@Model.QrCodeSetupImageUrl" />
            </div>
            <div class="info-message-sub">@Localizer["Or, use manual setup key (optional)."]</div>
            <div class="form-group active-group active">
                <div class="card bg-light">
                    <div class="card-body px-3 py-2">
                        @Model.ManualSetupKey
                    </div>
                </div>
                <button class="btn btn-link btn-xs" type="button" onclick="navigator.clipboard.writeText('@Model.ManualSetupKey')">@Localizer["Click to copy"]</button>
            </div>
            <div class="info-message-sub">@Localizer["Then, enter the authenticator app code."]</div>
            <div class="form-group active-group">
                <input asp-for="AppCode" autocomplete="off" class="form-control input-control" autofocus />
                <label asp-for="AppCode" class="label-control"></label>
                <span asp-validation-for="AppCode"></span>
            </div>

            <div class="form-group button-group">
                <input type="submit" value="@Localizer["Register two-factor app"]" class="btn btn-primary" />
            </div>

            @if (Model.SupportTwoFactorSms || Model.SupportTwoFactorEmail)
            {
                <div class="form-group create-user-group">
                    @Localizer["Try another method?"]
                    @if (Model.SupportTwoFactorSms && Model.SupportTwoFactorEmail)
                    {
                        @Html.Raw(Localizer.GetString("Use <a href=\"{0}\" class=\"{1}\">SMS two-factor</a> or <a href=\"{2}\" class=\"{3}\">email two-factor</a>.",
                                 $"../../{Constants.Endpoints.SmsTwoFactor}/_{Model.SequenceString}", "link sms-2fa",
                                 $"../../{Constants.Endpoints.EmailTwoFactor}/_{Model.SequenceString}", "link email-2fa"))
                        ;
                    }
                    else @if (Model.SupportTwoFactorSms)
                    {
                        @Html.Raw(Localizer.GetString("Use <a href=\"{0}\" class=\"{1}\">SMS two-factor</a>.",
                                 $"../../{Constants.Endpoints.SmsTwoFactor}/_{Model.SequenceString}", "link sms-2fa"))
                        ;
                    }
                    else @if (Model.SupportTwoFactorEmail)
                    {
                        @Html.Raw(Localizer.GetString("Use <a href=\"{0}\" class=\"{1}\">email two-factor</a>.",
                                 $"../../{Constants.Endpoints.EmailTwoFactor}/_{Model.SequenceString}", "link email-2fa"))
                        ;
                    }
                </div>
            }
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
