@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model RecoveryCodeTwoFactorViewModel

@{
    ViewData["Title"] = Localizer["Two-factor authentication (2FA)"];
}

<h1 class="heading">@ViewData["Title"]</h1>

<div class="row page-container">
    <div class="col-md page-content">
        <form method="post" action="">
            <div class="info-message">
                @Localizer["Two-factor authentication has been enabled for your account.<br /><br />IMPORTANT: Save your recovery code!"]
            </div>

            <div class="form-group active-group active">
                <div class="card bg-light">
                    <div class="card-body px-3 py-2">
                        @Model.RecoveryCode
                    </div>
                </div>
                <label asp-for="RecoveryCode" class="label-control"></label>
                <button class="btn btn-link btn-xs" type="button" onclick="navigator.clipboard.writeText('@Model.RecoveryCode')">@Localizer["Click to copy"]</button>
            </div>

            <div class="info-message">
                @Localizer["If you lose your phone or for some other reason can no longer generate Two-factor authentication (2FA) codes, this recovery code is the ONLY way to gain access to your account."]
            </div>

            <div class="form-group button-group">
                <input type="submit" value="@Localizer["I have saved my recovery code"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
