@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model RegisterTwoFactorViewModel

@{
    ViewData["Title"] = Localizer["Two-factor authentication (2FA)"];
}

<h1 class="heading">@ViewData["Title"]</h1>

<div class="row page-container">
    <div class="col-md page-content">
        <form method="post">
            <input type="hidden" asp-for="BarcodeImageUrl" autocomplete="off" />
            <input type="hidden" asp-for="ManualSetupCode" autocomplete="off" />

             <div class="info-message">
                @Localizer["Register two-factor authentication with an app of your choice."]
            </div>

            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group active-group active">
                <div>
                    <img src="@Model.BarcodeImageUrl" />
                </div>
                <label asp-for="BarcodeImageUrl" class="label-control"></label>
            </div>
            <div class="form-group active-group active">
                <div class="card bg-light">
                    <div class="card-body px-3 py-2">
                        @Model.ManualSetupCode
                    </div>
                </div>
                <label asp-for="ManualSetupCode" class="label-control"></label>
                <button class="btn btn-link btn-xs" type="button" onclick="navigator.clipboard.writeText('@Model.ManualSetupCode')">@Localizer["Click to copy"]</button>
            </div>
            <div class="form-group active-group">
                <input asp-for="AppCode" autocomplete="off" class="form-control input-control" autofocus />
                <label asp-for="AppCode" class="label-control"></label>
                <span asp-validation-for="AppCode"></span>
            </div>

            <div class="form-group button-group">
                <input type="submit" value="@Localizer["Register two-factor app"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
